<h2>Welcome Home <%= current_user.name if user_signed_in? %></h2>
<% if user_signed_in? %>
	<%= link_to("LOGOUT", destroy_user_session_path, :method => :delete)  %>
<% else %>
	<%= link_to("SIGN IN", new_user_session_path)  %>
	<%= link_to("SIGN UP", new_user_registration_path)  %>
<% end %>

<% @users = User.all
	@users.each do |user| %>
	<br><%= user.name %><%= user.email %><%= user.id %><br>
	<% end %>