<h2>Welcome Home <%= current_user.id if user_signed_in? %></h2>
<% if user_signed_in? %>
	<%= link_to("LOGOUT", destroy_user_session_path, :method => :delete)  %>
	<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
	<a href="<%= root_url %>users/auth/twitter">MERGE TWITTER</a>
	
	<a href="<%= root_url %>users/auth/facebook">MERGE FB</a>
<% else %>
	<%= link_to("SIGN IN", new_user_session_path)  %>
	<%= link_to("SIGN UP", new_user_registration_path)  %>

<% end %>

<% @users = User.all
	@users.each do |user| %>
	<br><%= user.name %><%= user.email %><%= user.id %><br>
	<% end %>
BREAK
<% if user_signed_in? %>
<% @identities = current_user.identities
	@identities.each do |i| %>
	<br><%= i.user.email %><br>
	<% end %>
<% end %>