<%
	_svg = true
%>

<div class="viewport_size" style="position:relative;">

	<div class="row top_form_padding" style="text-align: center;position: relative; top: 40%; transform: translateY(-60%);">
		<div class="col-md-12" style="z-index: 10;">
			<% if _svg == true %>
			<div style="width:161px;margin: 0 auto;">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 161 25" enable-background="new 0 0 161 25" xml:space="preserve">
				<polygon fill="#333333" points="34.3,0.1 40.2,25 47.9,25 50.6,13.4 53.2,25 60.9,25 66.7,0.1 58.8,0.1 56.5,11 53.9,0.1 47,0.1 
					44.6,11 42.4,0.1 "/>
				<polygon fill="#333333" points="80.1,0.1 80.1,25 87.9,25 87.9,16.1 94.4,16.1 94.4,25 102.1,25 102.1,0.1 94.4,0.1 94.4,8.8 
					87.9,8.8 87.9,0.1 "/>
				<rect x="117.9" y="0.1" fill="#333333" width="7.7" height="24.9"/>
				<path fill="#333333" d="M153.2,0.1c-1,0-3.1,0-4.1,0c-6.3,0-7.7,0-7.7,0V25h7.7v-7.5c1,0,3.1,0,4.1,0c4.9,0,7.8-1.3,7.8-8.6
					C161,1.5,158.1,0.1,153.2,0.1z M151.5,10.4c-0.7,0-2.4,0-2.4,0V6.9c0,0,1.2,0,2.4,0c0.7,0,1.8,0,1.8,1.9
					C153.2,10.4,152.2,10.4,151.5,10.4z"/>
				<g>
					<path fill="#7CC5ED" d="M13.3,15.6c0.2-0.1,0.4-0.1,0.6-0.2l6.4,6.4l-1.9,1.9l-2.4,1h-2.7L13.3,15.6z"/>
					<path fill="#7CC5ED" d="M15.3,13.9c0.1-0.2,0.2-0.4,0.2-0.6l9.1,0V16l-1,2.4l-1.9,1.9L15.3,13.9z"/>
					<path fill="#7CC5ED" d="M15.6,11.3c-0.1-0.2-0.1-0.4-0.2-0.6l6.4-6.4l1.9,1.9l1,2.4v2.7L15.6,11.3z"/>
					<path fill="#7CC5ED" d="M13.9,9.3c-0.2-0.1-0.4-0.2-0.6-0.2l0-9.1L16,0l2.4,1l1.9,1.9L13.9,9.3z"/>
					<path fill="#EC6567" d="M10.7,9.3c0.2-0.1,0.4-0.2,0.6-0.2l0-9.1L8.6,0L6.2,1L4.3,2.9L10.7,9.3z"/>
					<path fill="#EC6567" d="M9.3,10.7c-0.1,0.2-0.2,0.4-0.2,0.6l-9.1,0l0-2.7l1-2.4l1.9-1.9L9.3,10.7z"/>
					<path fill="#EC6567" d="M9.3,13.9c-0.1-0.2-0.2-0.4-0.2-0.6l-9.1,0L0,16l1,2.4l1.9,1.9L9.3,13.9z"/>
					<path fill="#EC6567" d="M10.7,15.3c0.2,0.1,0.4,0.2,0.6,0.2l0,9.1H8.6l-2.4-1l-1.9-1.9L10.7,15.3z"/>
				</g>
				</svg>
			</div>
			<% else %>
			<p><img src="<%= image_path('whip_circle_icon.png') %>" style="padding-right: 10px;height:32px;"><img src="<%= image_path('whip_text_landing.png') %>" style="height:28px;"></p>
			<% end %>
			<p class="headers" style="font-size:15px;margin-top:16px;">Parliament in your hands</p>
			<div id="join_mailing_list_form">
				<%= form_tag mailing_list_request_path, remote: true do %>

		              <%= text_field_tag :contact_email,'', autofocus: true, placeholder: "Enter email now to find out more", class: "headers", id: "prelaunch_text_box", style: "font-size:13px;text-align: center;" %>
		              <br>

		              <%= submit_tag 'SIGN UP', class: "headers prelaunch_submit_btn", id: "sign_up_btn", style: "font-size:10px;padding: 2px 10px;" %>

		        <% end %>
			</div>
			<div id="joined_mailing_list_notification" style="display:none;">
				<p class="headers" style="font-size:13px;text-align: center;" >Thanks for joining the mailing list!  Please check your email to confirm your subscription!</p>
			</div>
		</div>
	</div>

	
	<div style="position: absolute; bottom: 0px;width: 100%;">
		<img class="bottom_line_gray" src="<%= image_path('building_background.png') %>" style="width:100%;" id="westminster_bottom">
	</div>
		

</div>


<div class="row bottom_line_gray light_pink_hover hover_expand_right" id="infoResearch" style="margin: 0;">
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;">
		<div class="row" style="align-items: center;">
			<div class="col-md-6 hidden_half" style="text-align:left;">
				<p class="headers headers_padding">RESEARCH</p>
				<p class="text">Learn about the government bills, that matter to you. We will break bills  down into Laymans terms, providing you with a detailed non partisan synopsis. Read about the arguments for, arguments against, cost and potential impacts with links to additional resources.</p>
			</div>
			<div class="col-md-12 col-xs-12 to_half" style="text-align:center;">
				<p class="headers hide_name headers_padding">RESEARCH</p>
				<% if _svg == true %>
				<div class="image" style="width:107px;position:relative;margin: 0 auto;">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 107 106.8" enable-background="new 0 0 107 106.8" xml:space="preserve">
					<path fill="#989898" d="M45.6,55.6C41.1,58.4,35.7,60,30,60C13.5,60,0,46.5,0,30C0,13.5,13.5,0,30,0s30,13.5,30,30
						c0,5.6-1.6,10.9-4.3,15.4c0,0,51.3,51.3,51.3,51.3l-10.1,10.1L45.6,55.6z M30,5C16.2,5,5,16.2,5,30s11.2,25,25,25s25-11.2,25-25
						S43.8,5,30,5z"/>
					</svg>
				</div>
				<% else %>
				<img src="<%= image_path('icon-search.png') %>" style="position:relative;" class="image" />
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row bottom_line_gray light_blue_hover hover_expand_left" id="infoVote" style="margin: 0;">
	<!--<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-right: 30px;">-->
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;">
		<div class="row" style="align-items: center;">
			<div class="col-md-12 col-xs-12 to_half" style="text-align:center;">
				<p class="headers hide_name headers_padding">VOTE</p>
				<% if _svg == true %>
				<div class="image" style="width:123px;position:relative;margin: 0 auto;">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 123 111.9" enable-background="new 0 0 123 111.9" xml:space="preserve">
					<path fill="#8B8A8A" d="M102.1,28.1H86.8V0H36.7v28.1H21.5L0,52.2v59.7h123V52.2L102.1,28.1z M42.1,5.4h39.2v33.9H42.1V5.4z
						 M23.8,33.5h12.9v5.8h-9.8v5.1l69.9,0.3v-5.4h-9.9v-5.8h12.4L114,50.2H9.1L23.8,33.5z M117.3,106.1H5.7v-50h111.6V106.1z"/>
					</svg>
				</div>
				<% else %>
				<img src="<%= image_path('icon-vote.png') %>" style="position:relative;" class="image" />
				<% end %>
			</div>
			<div class="col-md-6 hidden_half" style="text-align:left;padding-right:30px;">
				<p class="headers headers_padding">VOTE</p>
				<p class="text">This is your chance to have your say on how your MP should vote on bills. At the click of a button Whip will generate a message on your behalf and sends it to your local MP. Then effortlessly share with friends to give the bill the exposure it needs.</p>
			</div>
		</div>
	</div>
</div>

<div class="row bottom_line_gray light_pink_hover hover_expand_right" id="infoCompare" style="margin: 0;">
	<!--<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-left: 30px;">-->
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;">
		<div class="row" style="align-items: center;">
			<div class="col-md-6 hidden_half" style="text-align:left;">
				<p class="headers headers_padding">COMPARE</p>
				<p class="text">See how your vote compares with what your MP is actually doing. Check whether they are listening to you.</p>

				<p class="text">Imagine if everyone could see and understand the bills going through Westminster? Imagine every British citizen could have their say.  Imagine if you could find out if your MP is listening?

				<p class="text">Whip: Putting Parliament in your hands.</p>
			</div>
			<div class="col-md-12 col-xs-12 to_half" style="text-align:center;">
				<p class="headers hide_name headers_padding">COMPARE</p>
				<% if _svg == true %>
				<div class="image" style="width:126px;position:relative;margin: 0 auto;">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 126 72.2" enable-background="new 0 0 126 72.2" xml:space="preserve">
				<g>
					<path fill="#989898" d="M71.3,0v72.2H126V0H71.3z M120.1,67.1H77.4V4.6h42.7V67.1z"/>
					<polygon fill="#989898" points="94.4,26.6 82.3,35.9 94.4,45.5 94.4,39.9 114.6,39.9 114.6,31.9 94.4,31.9 	"/>
				</g>
				<g>
					<path fill="#989898" d="M0,0l0,72.2h54.7V0L0,0z M5.9,4.6h42.7v62.4H5.9V4.6z"/>
					<polygon fill="#989898" points="31.6,26.6 43.7,35.9 31.6,45.5 31.6,39.9 11.4,39.9 11.4,31.9 31.6,31.9 	"/>
				</g>
				</svg>
				</div>
				<% else %>
				<img src="<%= image_path('icon-compare.png') %>" style="position:relative;" class="image" />
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row" style="text-align:center;padding-top: 60px;">
	<div class="col-md-12">
		<p class="headers">OUR GOAL</p>
		<div class="row" style="padding-top: 26px; align-items: center;">
			<div class="col-md-2 col-md-offset-3 col-xs-12 hover_text" id="heads">
				<% if _svg == true %>
				<div class="image" style="width:76px;position:relative;margin: 0 auto;">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76 54.7" enable-background="new 0 0 76 54.7" xml:space="preserve">
					<g>
						<g>
							<path fill="#898989" d="M32.2,30.5c0.5,0.5,0.8,0.8,1.1,1.2c0.3,0.5,0.3,1-0.2,1.4c-0.4,0.4-0.9,0.7-1.5,1c-0.4,0.2-0.6,0.4-0.6,1
								c0,0.6-0.1,1.3-0.3,1.9c-0.4,1.2-1.4,1.9-2.6,1.8c-1.7-0.1-3.3-0.3-4.8-1.3c-0.3,1.4-0.7,2.7-0.9,4C22.2,41.8,22,42,21.5,42
								c-4.5,0-9,0-13.5,0c-0.6,0-0.7-0.2-0.6-0.7c0.2-3,0.3-6.1,0.5-9.1c0-0.4-0.2-0.6-0.4-0.9c-2.8-3.4-5.2-7-6.5-11.3
								c-0.5-1.7-1.1-3.5-0.9-5.3c0.3-2.6,0.5-5.2,1.6-7.6c1.3-3,3.8-4.6,6.8-5.7c2.4-0.9,4.9-1.3,7.5-1.4c5.2-0.2,10.1,0.9,14,4.7
								c2.1,2.1,3.1,4.6,3.5,7.5c0.2,1.8,0.1,3.6-0.3,5.4c-0.1,0.6,0.1,1.2,0.3,1.8c0.6,1.2,1.5,2.2,2.3,3.3c0.4,0.6,0.8,1.1,1.1,1.7
								c0.2,0.5,0.1,1-0.3,1.4c-0.6,0.5-1.3,0.8-2.1,0.9c-0.7,0.1-0.7,0.3-0.4,0.9c0.2,0.4,0.4,0.9,0.5,1.4c0.2,0.9-0.1,1.3-0.9,1.4
								C33.1,30.5,32.7,30.5,32.2,30.5z"/>
							<path fill="#898989" d="M42.5,43.1c-0.8-0.3-1-0.6-0.8-1.4c0.1-0.6,0.3-1.1,0.6-1.7c0.2-0.3,0.2-0.5-0.3-0.5
								c-0.8-0.1-1.6-0.4-2.3-0.9c-0.7-0.5-0.7-0.9-0.4-1.6c0.3-0.8,0.9-1.4,1.4-2.1c0.3-0.4,0.6-0.9,1-1.3c1.2-1.4,1.3-3,1.1-4.9
								c-1-7.6,2.9-13.3,10.2-15.3c5.4-1.5,10.7-1,15.9,1.1c3.8,1.6,5.9,4.6,6.5,8.7c0.2,1.4,0.5,2.7,0.6,4.1c0.1,3.8-1.3,7.1-3.1,10.4
								c-1.2,2.2-2.7,4.3-4.4,6.2c-0.3,0.3-0.4,0.6-0.3,1c0.2,3,0.3,5.9,0.5,8.9c0,0.6-0.1,0.8-0.8,0.8c-4.4,0-8.9,0-13.3,0
								c-0.5,0-0.7-0.2-0.8-0.7c-0.3-1.3-0.6-2.6-0.9-4c-1.3,0.9-2.7,1.2-4.2,1.3c-2.2,0.2-3.4-0.8-3.5-3.1c0-0.9-0.3-1.4-1.1-1.7
								c-0.3-0.1-0.5-0.3-0.7-0.5c-0.9-0.7-1-1.2-0.2-2c0.2-0.3,0.5-0.5,0.7-0.8C43.4,43.1,42.9,43.3,42.5,43.1z"/>
							<path fill="#C7C6C6" d="M42.5,43.1c0.4,0,0.9,0,1.3,0c0,0,0,0,0,0c0,0,0,0,0,0.1C43.4,43.2,42.9,43.4,42.5,43.1z"/>
						</g>
					</g>
					</svg>
				</div>
				<% else %>
				<img src="<%= image_path('icon-engage.png') %>" style="margin-bottom: 16px;" class="image" />
				<% end %>
				<p class="headers prelaunch_text_engage" style="font-size:12px;padding-bottom:20px;">ENGAGE</p>
				<div class="visible-xs-block">
					<p>This is just to test</p>
				</div>
			</div>
			<div class="col-md-2 col-xs-12 hover_text" id="books">
				<% if _svg == true %>
				<div class="image" style="width:49px;position:relative;margin: 0 auto;">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49 41.9" enable-background="new 0 0 49 41.9" xml:space="preserve">
					<path fill="#898989" d="M49,30.1c0-0.5,0-0.5-0.5-0.6c-0.3-0.1-0.7,0-1-0.2c-0.2-0.2-0.2-0.5-0.2-0.7c0-1.3,0-2.5,0-3.8
						c0-1.1,0-1.1,1.1-1.1c0.2,0,0.4,0,0.6-0.2c0-0.7,0-1.5,0-2.2c0-0.2-0.1-0.3-0.3-0.4c-0.4-0.1-0.9-0.1-1.3-0.2
						c-0.3-0.2-0.2-0.4-0.2-0.7c0.1-0.8-0.1-1.4-0.5-2.1c-0.7-1.3-1.4-2.6-2.1-3.9c-0.3-0.5-0.2-0.6,0.4-0.6c0.6,0,1.3,0,1.9,0
						c0.4,0,0.5-0.1,0.4-0.5c0-0.9,0-1.8,0-2.7c0-0.4-0.1-0.6-0.3-0.9c-1.2-1.4-2.4-2.9-3.6-4.4c-1.2-1.5-2.5-3.1-3.7-4.6
						C39.5,0.2,39.3,0,39.1,0c0,0,0,0,0,0c-9.3,0-18.6,0-27.9,0c-0.2,0-0.4,0-0.7,0c0,0,0,0,0,0c-0.2,0-0.4,0.2-0.5,0.4
						c-2,3.2-4.1,6.4-6.1,9.6c-0.3,0.5-0.6,1.1-1.1,1.5c-1.5,1.4-2.2,3.1-1.9,5.1c0.3,2.1,1.5,3.6,3.4,4.5c0.4,0.2,0.9,0.3,1.4,0.4
						c-0.6,0.3-1,0.7-1.3,1.1c-1.3,1.4-1.7,3-1.5,4.8c0.1,1,0.6,1.9,1.3,2.7c0.3,0.3,0.2,0.4-0.2,0.5c-0.1,0-0.2,0.1-0.3,0.1
						c-1.3,0.4-2.3,1.2-3,2.3c-0.5,0.7-0.6,1.4-0.7,2.2c0,0.1,0,0.3,0,0.4c0.1,0.4,0.1,0.8,0,1.1c0,0.1,0,0.3,0,0.4
						c0.1,0.9,0.3,1.7,0.9,2.4c1,1.2,2.1,2.2,3.8,2.2c0.1,0,0.2,0,0.2,0.1c0.1,0,0.2,0,0.2,0c0.2-0.1,0.3,0,0.5,0c13.2,0,26.5,0,39.7,0
						c0.2,0,0.3,0,0.5,0c0.2-0.1,0.2-0.3,0.2-0.4c0-0.6,0-1.2,0-1.8c0-0.4-0.1-0.5-0.5-0.5c-0.4,0-0.9,0-1.3,0c-0.5,0-0.7-0.2-0.7-0.7
						c0-1.5,0-2.9,0-4.4c0-0.5,0.2-0.7,0.7-0.7c0.5,0,0.9,0,1.4,0c0.3,0,0.4-0.1,0.4-0.4c0.1-0.6,0.2-0.6,0.8-0.7c0.5,0,1.1,0,1.6,0
						c0.2,0,0.4,0,0.5-0.2C49,31.5,49,30.8,49,30.1z M3.7,16.9c-0.4-1.2,0-2.6,1-3.4c0.3-0.2,0.5-0.3,0.9-0.3c6,0,12,0,17.9,0
						c6,0,12,0,18,0c0.6,0,0.6,0,0.6,0.5c0,1.6,0,3.2,0,4.8c0,0.3-0.1,0.4-0.4,0.4c-11.6,0-23.3,0-34.9,0C5.3,18.9,4.2,18.1,3.7,16.9z
						 M40.3,39.4c-5.8,0-11.6,0-17.4,0c-5.8,0-11.5,0-17.3,0c-2.3,0-3.8-2.3-2.9-4.4c0.5-1.1,1.4-1.7,2.7-1.8c0.1,0,0.2,0,0.4,0
						c11.5,0,22.9,0,34.4,0c0.6,0,0.6-0.1,0.6,0.6c0,1.7,0,3.4,0,5.1C40.8,39.3,40.7,39.4,40.3,39.4z M44.2,29.7c-11.8,0-23.6,0-35.5,0
						c-1.8,0-3.2-1.4-3.2-3.1c0-1.7,1.4-3.1,3.2-3.1c5.9,0,11.8,0,17.6,0c5.9,0,11.8,0,17.7,0c0.5,0,0.5,0,0.5,0.5c0,1.7,0,3.5,0,5.2
						C44.6,29.6,44.5,29.7,44.2,29.7z"/>
					</svg>
				</div>
				<% else %>
				<img src="<%= image_path('icon-educate.png') %>" style="margin-bottom: 16px;" class="image" />
				<% end %>
				<p class="headers prelaunch_text_engage" style="font-size:12px;position: relative;top: 5px;padding-bottom:20px;">EDUCATE</p>
				<div class="visible-xs-block">
					<p>This is your chance to have your say on how your MP should vote on bills. At the click of a button Whip will generate a message on your behalf and sends it to your local MP. Then effortlessly share with friends to give the bill the exposure it needs.</p>
				</div>
			</div>
			<div class="col-md-2 col-xs-12 hover_text" id="fist">
				<% if _svg == true %>
				<div class="image" style="width:46px;position:relative;margin: 0 auto;">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46 47.1" enable-background="new 0 0 46 47.1" xml:space="preserve">
					<g>
						<g>
							<path fill="#898989" d="M45.9,27.9c-0.4,4.6-1.2,9.2-3.2,13.4c-0.8,1.7-1.2,3.5-1.8,5.3c-0.1,0.4-0.3,0.5-0.7,0.5
								c-4-0.1-8-0.1-12-0.2c-2.6,0-5.2,0-7.7-0.1c-1.9,0-3.9,0-5.9,0c0.2-0.4,0.4-0.6,0.4-0.9c0.2-0.7,0-1.4-0.3-2
								c-0.2-0.4-0.5-0.8-0.9-1.1c-1.4-1.3-2.4-2.9-3.6-4.3c-2.8-3.6-5.4-7.2-7.8-11.1c-0.7-1.1-1.4-2.2-1.9-3.4c-0.2-0.5-0.3-1-0.5-1.6
								c0-0.1,0-0.3-0.1-0.3c0-0.2,0-0.3,0-0.5c0.1-0.4,0.1-0.7,0-1.1c0-0.2,0-0.4,0-0.5c0.2-0.2,0.1-0.4,0.2-0.6
								c0.2-1.1,0.9-1.9,1.6-2.7c1.6-1.9,3.5-3.2,5.7-4.3c1-0.5,2-0.4,2.9,0.4c0.9,0.7,1.4,1.7,1.4,2.8c0.1,2.4-0.1,4.7-1,6.9
								c-0.3,0.7-0.7,1.4-1.2,2c-0.1,0.2-0.1,0.2,0,0.4c1,1,1.8,0.9,2.5-0.3c0.5-0.8,0.6-1.8,0.7-2.7c0.1-0.8,0.1-1.6,0.2-2.3
								c0-0.3,0.1-0.4,0.4-0.3c0.3,0,0.7,0,1,0c1.9,0,1.9,0,3.5-0.9c0.1,1,0.6,1.9,1.4,2.5c0.9,0.7,2,1.1,3.1,1c0.7,0,1.3,0,2,0
								c0.9-0.1,1.7-0.4,2.4-0.9c0.1,0.2,0.1,0.4,0,0.5c-0.1,1.5,0.7,2.6,2,3.3c0.7,0.4,1.6,0.6,2.4,0.6c1,0,2,0.1,3-0.2
								c0.5-0.2,1-0.4,1.5-0.7c0.1,0.1,0.1,0.2,0.1,0.3c0,0.5,0,1,0,1.4c0,1.4,0.7,2.4,1.8,3.2c1.4,1,5.4,1,6.8,0c0.6-0.5,1.2-1,1.5-1.7
								C46,27.7,45.9,27.8,45.9,27.9z"/>
							<path fill="#939393" d="M0,20.4c0.1,0.4,0.1,0.7,0,1.1C0,21.2,0,20.8,0,20.4z"/>
							<path fill="#898989" d="M19.4,9.4c0-2.2,0-4.4,0-6.6c0-0.9,0.4-1.5,1.1-1.9c0.5-0.3,1-0.5,1.5-0.5c0.9-0.1,1.9-0.1,2.8,0.1
								c0.5,0.1,0.9,0.3,1.2,0.6c0.5,0.4,0.8,0.9,0.8,1.6c0,4.4,0,8.8,0,13.2c0,1-0.4,1.6-1.2,2.1c-0.2,0.1-0.5,0.3-0.8,0.3
								c-1.2,0.2-2.4,0.2-3.6-0.1c-0.5-0.1-0.9-0.4-1.3-0.7c-0.4-0.4-0.6-0.8-0.6-1.4C19.4,13.8,19.4,11.6,19.4,9.4z"/>
							<path fill="#898989" d="M35.7,12.9c0,2.2,0,4.4,0,6.6c0,0.8-0.3,1.3-0.9,1.7c-0.5,0.3-1,0.5-1.5,0.6c-1.1,0.1-2.2,0.2-3.3-0.2
								c-0.5-0.2-0.9-0.4-1.2-0.8c-0.3-0.3-0.5-0.7-0.5-1.2c0-4.5,0-9,0-13.5c0-0.8,0.4-1.3,1.1-1.7c0.5-0.3,1-0.5,1.5-0.5
								c1-0.1,1.9-0.1,2.8,0.1c0.6,0.1,1.1,0.4,1.5,0.8c0.4,0.4,0.5,0.8,0.5,1.3C35.7,8.4,35.7,10.7,35.7,12.9z"/>
							<path fill="#898989" d="M44.6,17.6c0,2.2,0,4.4,0,6.6c0,0.8-0.4,1.4-1,1.9c-0.4,0.3-0.9,0.5-1.4,0.5c-1.2,0.1-2.4,0.2-3.5-0.3
								c-0.9-0.4-1.5-1.1-1.5-2.3c0-4.2,0-8.4,0-12.6c0-1.6,0.6-2.4,2.2-2.7c1.1-0.2,2.1-0.2,3.2,0c0.5,0.1,1,0.4,1.4,0.7
								c0.4,0.4,0.6,0.8,0.6,1.4C44.6,13.1,44.6,15.4,44.6,17.6z"/>
							<path fill="#898989" d="M17.9,7.9c0,1.8-0.1,3.6,0,5.4c0,1.1-1,2.4-2.4,2.5c-0.7,0-1.4,0-2,0c-0.3,0-0.2-0.2-0.2-0.4
								c0.1-1,0.1-2-0.3-2.9c-0.6-1.8-2.3-2.8-4.1-2.4c-0.5,0.1-0.5,0.1-0.5-0.4c0.1-1.5,0.1-3,0.5-4.5C9.3,3.5,10.1,2,11.6,1
								c1.2-0.8,2.5-1,3.9-0.9c0.6,0,1.1,0.2,1.7,0.3c0.2,0.1,0.4,0.2,0.5,0.4c0.2,0.6,0.3,1.1,0.3,1.7C17.9,4.3,17.9,6.1,17.9,7.9z"/>
							<path fill="#C8C7C7" d="M45.9,27.9c0-0.1,0-0.2-0.1-0.2c0-0.1,0-0.1,0.1-0.2c0.1,0,0.1,0.1,0.1,0.1C46,27.7,46,27.8,45.9,27.9z"/>
						</g>
					</g>
					</svg>
				</div>
				<% else %>
				<img src="<%= image_path('icon-empower.png') %>" style="margin-bottom: 16px;" class="image" />
				<% end %>
				<p class="headers prelaunch_text_engage" style="font-size:12px;padding-bottom:20px;">EMPOWER</p>
				<div class="visible-xs-block">
					<p>A Third Time</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="reveal_hover text" id="heads_reveal" style="display:none;">This is just to test</p>
				<p class="reveal_hover text" id="books_reveal" style="display:none;">This is your chance to have your say on how your MP should vote on bills. At the click of a button Whip will generate a message on your behalf and sends it to your local MP. Then effortlessly share with friends to give the bill the exposure it needs.</p>
				<p class="reveal_hover text" id="fist_reveal" style="display:none;">A Third Time</p>
			</div>
		</div>
	</div>
</div>






<% if false %>
	<script type="text/javascript">
	var ready;
	ready = function() {

		$('body').off('click','#sign_up_btn');
		$('body').on('click','#sign_up_btn',function(e){
			e.preventDefault();

			$('#join_mailing_list_form').css('display','none');
			$('#joined_mailing_list_notification').fadeIn();

		});

	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
	</script>

<% end %>

<script type="text/javascript">

var ready;
ready = function() {

	function makeBigger(this_img) {
	    this_img.css({height: '+=10%', width: '+=10%'});
	}
	function returnToOriginalSize(this_img) {
	    this_img.css({height: "-=10%", width: "-=10%"});
	}

	$(document).on({
		mouseenter: function () {
			if ( $(window).width() >=750 ) {
				var _this = $(this)
				var _id = _this.attr("id");
				$('.reveal_hover').css('display','none');
				$('.reveal_hover#' + _id + '_reveal').fadeIn();
				makeBigger(_this.children('.image'));
			}
		},
		mouseleave: function () {
			if ( $(window).width() >=750 ) {
				var _this = $(this)
				$('.reveal_hover').css('display','none');
				returnToOriginalSize(_this.children('.image'));
			}
		}
	}, ".hover_text");


	var hoverDelay = 200, setTimeoutConst;
	var hoverDelayLeft = 200, setTimeoutConstLeft;
	var fadeDelay = 500;
	var animateDelay = 500;
	var mouseOut = false;
	var mouseOutLeft = false;
	
	/*
	
	var hoverDelayResearch = 500, setTimeoutConstResearch;
	var hoverDelayVote = 500, setTimeoutConstVote;
	var hoverDelayCompare = 500, setTimeoutConstCompare;
	var mouseOutResearch = false;
	var mouseOutVote = false;
	var mouseOutCompare = false;
	
	$(document).on({
		mouseenter: function () {
			InfoAnimationIn( $(this), '27%', hoverDelayResearch, setTimeoutConstResearch, mouseOutResearch );
		},
		mouseleave: function () {
			InfoAnimationOut( $(this), '27%', hoverDelayResearch, setTimeoutConstResearch, mouseOutResearch );
		}
	}, "#infoResearch");
	
	function InfoAnimationIn( _this, $per, $delay, $delayConst, $mouse ) {
		var this_image = _this.children().children().children('.to_half').children('img');
		$mouse = false;
		 $delayConst = setTimeout(function(){
			 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
			 this_image.animate({left:$per}, animateDelay, "linear", function(){
				if ($mouse == false ) {
					_this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
					_this.children().children().children('.hidden_half').fadeIn(fadeDelay);
					 this_image.css({'left':0});
				}
			 });
		 }, $delay);
	}
	
	function InfoAnimationOut( _this, $per, $delay, $delayConst, $mouse ) {
		clearTimeout($delayConst);
		var this_image = _this.children().children().children('.to_half').children('img');
		
		if ( this_image.css('left') == '0px' && _this.children().children().children('.to_half').hasClass( 'col-md-6' ) ) {
			this_image.css({'left':$per});
		}
		
		if (_this.children().children().children('.hidden_half').is('hidden') ) {
			this_image.finish(); 
		}
		$mouse = true;
		_this.children().children().children('.hidden_half').css('display','none');
		_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
		this_image.animate({left:''}, animateDelay, "linear", function(){
			_this.children().children().children('.to_half').children('.hide_name').css('visibility','');
		});	
	}
	*/
	
	$(document).on({
		mouseenter: function () {
			if ( $(window).width() >=750 ) {
				var _this = $(this)
				var this_image = _this.children().children().children('.to_half').children('.image');
				mouseOut = false;
				setTimeoutConst = setTimeout(function(){
					_this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
					this_image.animate({left:'27%'}, animateDelay, "linear", function(){
						if (mouseOut == false ) {
						   _this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
						   _this.children().children().children('.hidden_half').fadeIn(fadeDelay);
						   this_image.css({'left':0});
						}
				   
					});
				}, hoverDelay);
			} else {
				// display everyone
			}
		},
		mouseleave: function () {
			if ( $(window).width() >=750 ) {
				clearTimeout(setTimeoutConst);
				var _this = $(this)
				var this_image = _this.children().children().children('.to_half').children('.image');
			
				if ( this_image.css('left') == '0px' && _this.children().children().children('.to_half').hasClass( 'col-md-6' ) ) {
					this_image.css({'left':'27%'});
				}
			
				if (_this.children().children().children('.hidden_half').is('hidden') ) {
					this_image.finish(); 
				}
				mouseOut = true;
				_this.children().children().children('.hidden_half').css('display','none');
				_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
				this_image.animate({left:''}, animateDelay, "linear", function(){
					_this.children().children().children('.to_half').children('.hide_name').css('visibility','');
				});	
			} else {
				// display everyone
			}
		}
	}, ".hover_expand_right");

	$(document).on({
		mouseenter: function () {
			if ( $(window).width() >=750 ) {
				var _this = $(this);
				var this_image = _this.children().children().children('.to_half').children('.image');
				mouseOutLeft = false;
				 setTimeoutConstLeft = setTimeout(function(){
					 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
					 this_image.animate({left:'-27%'}, animateDelay, "linear", function(){
						if (mouseOutLeft == false ) {
							_this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
							_this.children().children().children('.hidden_half').fadeIn(fadeDelay);
							 this_image.css({'left':0});
						}
					 });
				 }, hoverDelayLeft);
			 }
		},
		mouseleave: function () {
			if ( $(window).width() >=750 ) {
				clearTimeout(setTimeoutConstLeft);
				var _this = $(this);
				var this_image = _this.children().children().children('.to_half').children('.image');
			
				if ( this_image.css('left') == '0px' && _this.children().children().children('.to_half').hasClass( 'col-md-6' ) ) {
					this_image.css({'left':'-27%'});
				}
			
				if (_this.children().children().children('.hidden_half').is('hidden') ) {
					this_image.finish(); 
				}
				mouseOutLeft = true;
				_this.children().children().children('.hidden_half').css('display','none');
				_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
				this_image.animate({left:''}, animateDelay, "linear", function(){
					_this.children().children().children('.to_half').children('.hide_name').css('visibility','visible');
				});	
			}
		}
	}, ".hover_expand_left");
	
	$(window).resize(function() {
		if ( $(window).width() <750 ) {
			$('.hidden_half').show();
		} else {
			$('.hidden_half').hide();
		}
		
	});
	
	/*
	$( ".hover_expand_left" ).hover(
	  function() {
	    var _this = $(this)
	    var this_image = _this.children().children().children('.to_half').children('img');
    	 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
	     this_image.animate({left:'-30%'}, 1000, "linear", function(){
	        _this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
		    _this.children().children().children('.hidden_half').fadeIn(1400);
	     });
	  }, 
	  function() {
		var _this = $(this)
		var this_image = _this.children().children().children('.to_half').children('img');
		_this.children().children().children('.hidden_half').css('display','none');
		_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
		this_image.animate({left:''}, 1000, "linear", function(){
		    _this.children().children().children('.to_half').children('.hide_name').css('visibility','');
		});	
	  }
	);
	

	$( ".hover_expand_right" ).hover(
	  function() {
	    var _this = $(this)
	    var this_image = _this.children().children().children('.to_half').children('img');
    	 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
	     this_image.animate({left:'30%'}, 1000, "linear", function(){
	        _this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
		    _this.children().children().children('.hidden_half').fadeIn(1400);
	     });
	  }, 
	  function() {
		var _this = $(this)
		var this_image = _this.children().children().children('.to_half').children('img');
		_this.children().children().children('.hidden_half').css('display','none');
		_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
		this_image.animate({left:''}, 1000, "linear", function(){
		    _this.children().children().children('.to_half').children('.hide_name').css('visibility','');
		});	
	  }
	);
	*/
	/**/
	
	var total_height = $(window).height();
	
	$('.viewport_size').css('height',total_height - 60);
};

$(document).ready(ready);
$(document).on('page:load', ready);

</script>