<div class="row">
	<div class="col-md-12">
		<div class="row" style="text-align:right;">
			<div class="col-md-1 col-md-offset-10" style="width: auto;">
				<a href="https://www.facebook.com/whipuk" target="_blank"><img src="<%= image_path('fb_icon.png') %>"></a>
			</div>
			<div class="col-md-1" style="width: auto;">
				<a href="https://twitter.com/whipuk" target="_blank"><img src="<%= image_path('tw_icon.png') %>"></a>
			</div>
			<div class="col-md-1" style="width: auto;">
				<a href="https://instagram.com/whipuk/" target="_blank"><img src="<%= image_path('insta_icon.png') %>"></a>
			</div>
		</div>
	</div>
</div>

<div class="row" style="text-align: center;padding-top: 100px;">
	<div class="col-md-12">
		<p><img src="<%= image_path('whip_circle_icon.png') %>" style="padding-right: 10px;">WHIP</p>
		<p>Parliament in your hands</p>
		<div id="join_mailing_list_form">
			<%= form_tag mailing_list_request_path, remote: true do %>

	              <%= text_field_tag :contact_email,'', autofocus: true, placeholder: " Enter email now to find out more", class: "", style: "width: 224px;padding: 4px;border: 1px solid #9e9e9e;margin-bottom: 18px;" %>
	              <br>

	              <%= submit_tag 'SIGN UP', class: "", id: "sign_up_btn", style: "background: none repeat scroll 0% 0% transparent;border: 1px solid #9E9E9E;" %>

	        <% end %>
		</div>
		<div id="joined_mailing_list_notification" style="display:none;">
			<p>Thanks for joining mailing list!  Please check your email to confirm your subscription!</p>
		</div>
	</div>
</div>

<div class="row" style="height:auto;">
	<div class="col-md-12">
		<img src="<%= image_path('building_background.png') %>">
	</div>
</div>

<div class="row" style="background:#fef1f1;width: 98.5%;margin: 0;">
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-left: 30px;">
		<div class="row" style="display: flex; align-items: center;">
			<div class="col-md-6" style="text-align:left;">
				<p>RESEARCH</p>
				<p>Learn about the government bills, that matter to you. We will break bills  down into Laymans terms, providing you with a detailed non partisan synopsis. Read about the arguments for, arguments against, cost and potential impacts with links to additional resources.</p>
			</div>
			<div class="col-md-6" style="text-align:center;">
				<img src="<%= image_path('magnifying_glass_icon.png') %>">
			</div>
		</div>
	</div>
</div>

<div class="row" style="width: 98.5%;margin: 0;">
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-right: 30px;">
		<div class="row" style="display: flex; align-items: center;">
			<div class="col-md-6" style="text-align:center;">
				<img src="<%= image_path('ballet_box_icon.png') %>">
			</div>
			<div class="col-md-6" style="text-align:left;">
				<p>VOTE</p>
				<p>This is your chance to have your say on how your MP should vote on bills. At the click of a button Whip will generate a message on your behalf and sends it to your local MP. Then effortlessly share with friends to give the bill the exposure it needs.</p>
			</div>
		</div>
	</div>
</div>

<div class="row" style="background:#fef1f1;width: 98.5%;margin: 0;">
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-left: 30px;">
		<div class="row" style="display: flex; align-items: center;">
			<div class="col-md-6" style="text-align:left;">
				<p>Compare</p>
				<p>See how your vote compares with what your MP is actually doing. Check whether they are listening to you.</p>

				<p>Imagine if everyone could see and understanding the bills going through Westminster? Imagine every British citizen could have their say.  Imagine if you could find out if your MP is listening?

				<p>Whip: Putting Parliament in your hands.</p>
			</div>
			<div class="col-md-6" style="text-align:center;">
				<img src="<%= image_path('research_icon.png') %>">
			</div>
		</div>
	</div>
</div>

<div class="row" style="text-align:center;padding-top: 40px;">
	<div class="col-md-12">
		<p>OUR GOAL</p>
		<div class="row" style="padding-top: 26px;display: flex; align-items: center;">
			<div class="col-md-2 col-md-offset-3">
				<img src="<%= image_path('two_heads_icon.png') %>">
				<p>ENGAGE</p>
			</div>
			<div class="col-md-2">
				<img src="<%= image_path('book_stack_icon.png') %>">
				<p>EDUCATE</p>
			</div>
			<div class="col-md-2">
				<img src="<%= image_path('fist_icon.png') %>">
				<p>EMPOWER</p>
			</div>
		</div>
	</div>
</div>
<% if false %>
	<script type="text/javascript">
	var ready;
	ready = function() {

		$('body').off('click','#sign_up_btn');
		$('body').on('click','#sign_up_btn',function(e){
			e.preventDefault();

			$('#join_mailing_list_form').css('display','none');
			$('#joined_mailing_list_notification').fadeIn();

		});

	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
	</script>
<% end %>