

<div class="viewport_size" style="position:relative;">

	<div class="row top_form_padding" style="text-align: center;position: relative; top: 40%; transform: translateY(-60%);">
		<div class="col-md-12" style="z-index: 10;">
			<p><img src="<%= image_path('whip_logo.png') %>" style="height:32px;"></p>
			<p class="headers" style="font-size:15px;margin-top:16px;">Parliament in your hands</p>
			<div id="join_mailing_list_form">
				<%= form_tag mailing_list_request_path, remote: true do %>

		              <%= text_field_tag :contact_email,'', autofocus: true, placeholder: "Enter email now to find out more", class: "headers", id: "prelaunch_text_box", style: "font-size:13px;text-align: center;" %>
		              <br>

		              <%= submit_tag 'SIGN UP', class: "headers prelaunch_submit_btn", id: "sign_up_btn", style: "font-size:10px;padding: 2px 10px;" %>

		        <% end %>
			</div>
			<div id="joined_mailing_list_notification" style="display:none;">
				<p class="headers" style="font-size:13px;text-align: center;" >Thank you for your interest, we're very grateful!</p>
			</div>
		</div>
	</div>

	
	<div style="position: absolute; bottom: 0px;width: 100%;z-index: -1;">
		<img class="bottom_line_gray" src="<%= image_path('building_background_3.png') %>" style="width:100%;z-index: -1;" id="westminster_bottom">
	</div>
		

</div>




<div class="row bottom_line_gray light_pink_hover hover_expand_right" id="infoResearch" style="margin: 0;">
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;">
		<div class="row" style="display: flex; align-items: center;">
			<div class="col-md-6 hidden_half" style="text-align:left;display:none;">
				<p class="headers headers_padding">RESEARCH</p>
				<p class="text">Learn about the government bills that matter to you. We will break bills down into Layman's terms, providing you with a detailed summary. Read about the arguments for, arguments against, cost and potential impacts with links to additional resources.</p>
			</div>
			<div class="col-md-12 col-xs-12 to_half" style="text-align:center;">
				<p class="headers hide_name headers_padding">RESEARCH</p>
				<img style="position:relative;height:108px;" src="<%= image_path('research_icon.png') %>">
			</div>
		</div>
	</div>
</div>

<div class="row bottom_line_gray light_blue_hover hover_expand_left" id="infoVote" style="margin: 0;">
	<!--<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-right: 30px;">-->
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;">
		<div class="row" style="display: flex; align-items: center;">
			<div class="col-md-12 col-xs-12 to_half" style="text-align:center;">
				<p class="headers hide_name headers_padding">VOTE</p>
				<img style="position:relative; height:112px;" src="<%= image_path('vote_icon.png') %>">
			</div>
			<div class="col-md-6 hidden_half" style="text-align:left;display:none;padding-right:30px;">
				<p class="headers headers_padding">VOTE</p>
				<p class="text">This is your chance to have your say on how your MP should vote on bills. At the click of a button Whip will generate a message on your behalf and sends it to your local MP. You can then effortlessly share with friends to give the bill the exposure it needs.</p>
			</div>
		</div>
	</div>
</div>

<div class="row bottom_line_gray light_pink_hover hover_expand_right" id="infoCompare" style="margin: 0;">
	<!--<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;padding-left: 30px;">-->
	<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px;">
		<div class="row" style="display: flex; align-items: center;">
			<div class="col-md-6 hidden_half" style="text-align:left;display:none;">
				<p class="headers headers_padding">COMPARE</p>
				<p class="text">See how your vote compares with what your MP is actually doing. We log your vote and once your MP has voted you can see whether they are listening to you.</p>
			</div>
			<div class="col-md-12 col-xs-12 to_half" style="text-align:center;">
				<p class="headers hide_name headers_padding">COMPARE</p>
				<img style="position:relative;height:107px;" src="<%= image_path('compare_icon.png') %>">
			</div>
		</div>
	</div>
</div>

<div class="row" style="text-align:center;padding-top: 60px;">
	<div class="col-md-12">
		<iframe width="560" height="315" style="max-width: 95%;" src="https://www.youtube.com/embed/dfH8X9PZ4cQ" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="row" style="text-align:center;padding-top: 60px;">
	<div class="col-md-12">
		<p class="headers">OUR GOAL</p>
		<div class="row" style="padding-top: 26px; align-items: center;">
			<div class="col-md-2 col-md-offset-3 col-xs-12 hover_text" id="heads">
				<img src="<%= image_path('engage_icon.png') %>" style="margin-bottom: 16px; height:63px;">
				<p class="headers prelaunch_text_engage" style="font-size:12px;padding-bottom:20px;">ENGAGE</p>
			</div>
			<div class="col-md-2 col-xs-12 hover_text" id="books">
				<img src="<%= image_path('educate_icon.png') %>" style="margin-bottom: 16px; height:54px;">
				<p class="headers prelaunch_text_engage" style="font-size:12px;position: relative;top: 5px;padding-bottom:20px;">EDUCATE</p>
			</div>
			<div class="col-md-2 col-xs-12 hover_text" id="fist">
				<img src="<%= image_path('empower_icon.png') %>" style="margin-bottom: 16px; height:57px;">
				<p class="headers prelaunch_text_engage" style="font-size:12px;padding-bottom:20px;">EMPOWER</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="reveal_hover text" id="heads_reveal" style="display:none;">Whip is a platform where people can easily participate and become involved in politics.</p>
				<p class="reveal_hover text" id="books_reveal" style="display:none;">Whip provides unbiased information about what is actually going on in Westminster.</p>
				<p class="reveal_hover text" id="fist_reveal" style="display:none;">Whip is revolutionizing the way we connect with and influence our government.</p>
			</div>
		</div>
	</div>
</div>






<% if false %>
	<script type="text/javascript">
	var ready;
	ready = function() {

		$('body').off('click','#sign_up_btn');
		$('body').on('click','#sign_up_btn',function(e){
			e.preventDefault();

			$('#join_mailing_list_form').css('display','none');
			$('#joined_mailing_list_notification').fadeIn();

		});

	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
	</script>

<% end %>

<script type="text/javascript">

var ready;
ready = function() {

	function makeBigger(this_img) {
	    this_img.css({height: '+=10%', width: '+=10%'});
	}
	function returnToOriginalSize(this_img) {
	    this_img.css({height: "-=10%", width: "-=10%"});
	}

	$( ".hover_text" ).hover(
	  function() {
	    var _this = $(this)
	    var _id = _this.attr("id");
		$('.reveal_hover').css('display','none');
		$('.reveal_hover#' + _id + '_reveal').fadeIn();
		makeBigger(_this.children('img'));
	  }, 
	  function() {
	  	var _this = $(this)
		$('.reveal_hover').css('display','none');
		returnToOriginalSize(_this.children('img'));
	  }
	);

	var hoverDelay = 200, setTimeoutConst;
	var hoverDelayLeft = 200, setTimeoutConstLeft;
	var fadeDelay = 500;
	var animateDelay = 500;
	var mouseOut = false;
	var mouseOutLeft = false;
	
	/*
	
	var hoverDelayResearch = 500, setTimeoutConstResearch;
	var hoverDelayVote = 500, setTimeoutConstVote;
	var hoverDelayCompare = 500, setTimeoutConstCompare;
	var mouseOutResearch = false;
	var mouseOutVote = false;
	var mouseOutCompare = false;
	
	$(document).on({
		mouseenter: function () {
			InfoAnimationIn( $(this), '27%', hoverDelayResearch, setTimeoutConstResearch, mouseOutResearch );
		},
		mouseleave: function () {
			InfoAnimationOut( $(this), '27%', hoverDelayResearch, setTimeoutConstResearch, mouseOutResearch );
		}
	}, "#infoResearch");
	
	function InfoAnimationIn( _this, $per, $delay, $delayConst, $mouse ) {
		var this_image = _this.children().children().children('.to_half').children('img');
		$mouse = false;
		 $delayConst = setTimeout(function(){
			 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
			 this_image.animate({left:$per}, animateDelay, "linear", function(){
				if ($mouse == false ) {
					_this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
					_this.children().children().children('.hidden_half').fadeIn(fadeDelay);
					 this_image.css({'left':0});
				}
			 });
		 }, $delay);
	}
	
	function InfoAnimationOut( _this, $per, $delay, $delayConst, $mouse ) {
		clearTimeout($delayConst);
		var this_image = _this.children().children().children('.to_half').children('img');
		
		if ( this_image.css('left') == '0px' && _this.children().children().children('.to_half').hasClass( 'col-md-6' ) ) {
			this_image.css({'left':$per});
		}
		
		if (_this.children().children().children('.hidden_half').is('hidden') ) {
			this_image.finish(); 
		}
		$mouse = true;
		_this.children().children().children('.hidden_half').css('display','none');
		_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
		this_image.animate({left:''}, animateDelay, "linear", function(){
			_this.children().children().children('.to_half').children('.hide_name').css('visibility','');
		});	
	}
	*/
	
	$(document).on({
		mouseenter: function () {
			var _this = $(this)
			var this_image = _this.children().children().children('.to_half').children('img');
			mouseOut = false;
			setTimeoutConst = setTimeout(function(){
				_this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
				this_image.animate({left:'27%'}, animateDelay, "linear", function(){
					if (mouseOut == false ) {
					   _this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
					   _this.children().children().children('.hidden_half').fadeIn(fadeDelay);
					   this_image.css({'left':0});
				   	}
				   
				});
			}, hoverDelay);
		},
		mouseleave: function () {
			clearTimeout(setTimeoutConst);
			var _this = $(this)
			var this_image = _this.children().children().children('.to_half').children('img');
			
			if ( this_image.css('left') == '0px' && _this.children().children().children('.to_half').hasClass( 'col-md-6' ) ) {
				this_image.css({'left':'27%'});
			}
			
			if (_this.children().children().children('.hidden_half').is('hidden') ) {
				this_image.finish(); 
			}
			mouseOut = true;
			_this.children().children().children('.hidden_half').css('display','none');
			_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
			this_image.animate({left:''}, animateDelay, "linear", function(){
				_this.children().children().children('.to_half').children('.hide_name').css('visibility','');
			});	
		}
	}, ".hover_expand_right");

	$(document).on({
		mouseenter: function () {
			var _this = $(this);
			var this_image = _this.children().children().children('.to_half').children('img');
			mouseOutLeft = false;
			 setTimeoutConstLeft = setTimeout(function(){
				 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
				 this_image.animate({left:'-27%'}, animateDelay, "linear", function(){
				 	if (mouseOutLeft == false ) {
						_this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
						_this.children().children().children('.hidden_half').fadeIn(fadeDelay);
						 this_image.css({'left':0});
					}
				 });
			 }, hoverDelayLeft);
		},
		mouseleave: function () {
			clearTimeout(setTimeoutConstLeft);
			var _this = $(this);
			var this_image = _this.children().children().children('.to_half').children('img');
			
			if ( this_image.css('left') == '0px' && _this.children().children().children('.to_half').hasClass( 'col-md-6' ) ) {
				this_image.css({'left':'-27%'});
			}
			
			if (_this.children().children().children('.hidden_half').is('hidden') ) {
				this_image.finish(); 
			}
			mouseOutLeft = true;
			_this.children().children().children('.hidden_half').css('display','none');
			_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
			this_image.animate({left:''}, animateDelay, "linear", function(){
				_this.children().children().children('.to_half').children('.hide_name').css('visibility','visible');
			});	
		}
	}, ".hover_expand_left");
	
	/*
	$( ".hover_expand_left" ).hover(
	  function() {
	    var _this = $(this)
	    var this_image = _this.children().children().children('.to_half').children('img');
    	 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
	     this_image.animate({left:'-30%'}, 1000, "linear", function(){
	        _this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
		    _this.children().children().children('.hidden_half').fadeIn(1400);
	     });
	  }, 
	  function() {
		var _this = $(this)
		var this_image = _this.children().children().children('.to_half').children('img');
		_this.children().children().children('.hidden_half').css('display','none');
		_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
		this_image.animate({left:''}, 1000, "linear", function(){
		    _this.children().children().children('.to_half').children('.hide_name').css('visibility','');
		});	
	  }
	);
	

	$( ".hover_expand_right" ).hover(
	  function() {
	    var _this = $(this)
	    var this_image = _this.children().children().children('.to_half').children('img');
    	 _this.children().children().children('.to_half').children('.hide_name').css('visibility','hidden');
	     this_image.animate({left:'30%'}, 1000, "linear", function(){
	        _this.children().children().children('.to_half').removeClass( "col-md-12" ).addClass( "col-md-6" );
		    _this.children().children().children('.hidden_half').fadeIn(1400);
	     });
	  }, 
	  function() {
		var _this = $(this)
		var this_image = _this.children().children().children('.to_half').children('img');
		_this.children().children().children('.hidden_half').css('display','none');
		_this.children().children().children('.to_half').removeClass( "col-md-6" ).addClass( "col-md-12" );
		this_image.animate({left:''}, 1000, "linear", function(){
		    _this.children().children().children('.to_half').children('.hide_name').css('visibility','');
		});	
	  }
	);
	*/
	/**/
	
	var total_height = $(window).height();
	
	$('.viewport_size').css('height',total_height - 60);
};

$(document).ready(ready);
$(document).on('page:load', ready);

</script>