
<!--
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field_tag :name, nil %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
-->
	
	<div class="bottom_line_gray" style="padding-bottom:20px;">
		<p class="headers">SOCIAL SIGN UP</p>
		<a href="<%= root_url %>users/auth/facebook?image_size=large"><!--SIGN IN WITH FACEBOOK--><i class="fa fa-facebook fa-2x" style="color:#3b589e;padding-right: 10px;"></i></a>
		<a href="<%= root_url %>users/auth/twitter?image_size=original"><!--SIGN IN WITH TWITTER--><i class="fa fa-twitter fa-2x" style="color:#20b8ff;"></i></a>
		
	</div>
	<div style="padding-top:20px;">
		<p class="headers">EMAIL SIGN UP</p>
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>" style="color:red;"><%= message %></div>
		<% end %>
	</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  	<input style="display:none"><input type="password" style="display:none"><!-- hack to trick autocomplete on chrome -->
	<div class="form-group">
	  <%= text_field_tag :first_name,'', placeholder: "FIRST NAME", class: "headers form-control", id: "first_name", style: "font-size:13px;background: transparent;" %>
	</div>
	<div class="form-group">
	  <%= text_field_tag :last_name,'', placeholder: "LAST NAME", class: "headers form-control", id: "last_name", style: "font-size:13px;background: transparent;" %>
	</div>
	<div class="form-group">
	  <%= f.email_field :email, placeholder: "EMAIL", class: "headers form-control", id: "email",  autocomplete: "off", style: "font-size:13px;background: transparent;" %>
	</div>
	<div class="form-group">
	  <%= f.password_field :password, placeholder: "PASSWORD", class: "headers form-control", id: "password",  autocomplete: "off", style: "font-size:13px;background: transparent;" %>
	</div>
	<div class="form-group">
	  <%= f.submit 'SIGN UP', class: "headers btn btn-signup", id: "sign_up_btn", style: "padding: 8px 20px 6px 20px;" %>
	</div>
	<div class="form-group">
	  <a href="javascript:;" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
	</div>

<% end %>
