<a href="<%= root_url %>users/auth/twitter">SIGN IN WITH TWITTER</a>
<a href="<%= root_url %>users/auth/facebook">SIGN IN WITH FACEBOOK</a>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name, nil %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>