<div class="col-md-2 col-md-offset-2" style="">
  <p><a href="<%= users_admins_path %>">ALL USERS</a></p>
  <p><a href="<%= bills_admins_path %>">ALL BILLS</a></p>
  <p><a href="<%= parties_admins_path %>">ALL PARTIES</a></p>
  <p><a href="<%= issues_admins_path %>">ALL ISSUES</a></p>
  <p><a href="<%= constituencies_admins_path %>">ALL CONSTITUENCIES</a></p>
  <p><a href="<%= mps_admins_path %>">ALL MPS</a></p>
  <p><a href="<%= post_codes_admins_path %>">ALL POST CODES</a></p>
  <p><%= link_to("LOGOUT", destroy_user_session_path, :method => :delete)  %></p>
</div>