<% 
	ids = []
	bill.issues.each do |issue|
		ids << issue.id
	end 
%>
<li class="list-group-item">
	<div class="row">
		<div class="col-md-7">
			<%= bill.simple_name.upcase %>
			<div style="display:none;" id="bill_<%= bill.id %>_edit" class="edit_form">
				<%= form_for bill do |f| %>
					<div class="form-group">
						<%= f.label :simple_name, "Common Name" %>
						<%= f.text_field :simple_name, class:'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :official_name, "Official Name" %>
						<%= f.text_field :official_name, class:'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :support, "Arguments For" %>
						<%= f.bootsy_area :support, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :opposition, "Arguments Against" %>
						<%= f.bootsy_area :opposition, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :meaning, "Meaning" %>
						<%= f.bootsy_area :meaning, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :impact, "Who Does It Impact?" %>
						<%= f.bootsy_area :impact, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :cost, "Potential Costs" %>
						<%= f.bootsy_area :cost, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :trending, "Add To Top Trending?" %>
						<%= f.check_box :trending %>
					</div>
					<div class="form-group">
						<%= f.label :progress, "Current Bill Progress" %>
						<%= f.select :progress, options_for_select([ ["HOUSE OF COMMONS","house_of_commons"], ["HOUSE OF LORDS","house_of_lords"],["ROYAL ASSENT","royal_assent"] ], bill.progress),{}, {:class=>'form-control'} %>
					</div>
					<div class="form-group">
						<% if bill.image_url != "" %>
							<p>Current Bill Image</p>
							<img src="<%= bill.image_url %>">
						<% end %>
						<%= f.label :image_url %>
						<%= f.file_field :image_url %>
					</div>
					<div class="form-group">
						<% if bill.social_image_url != "" %>
							<p>Current Social Image</p>
							<img src="<%= bill.social_image_url %>">
						<% end %>
						<%= f.label :social_image_url %>
						<%= f.file_field :social_image_url %>
					</div>
					<%= f.submit "Save Bill Edits", :class => 'btn btn-lg btn-default', id: "edit_bill_btn" %>
				<% end %>
			</div>
			<div style="display:none;" id="bill_<%= bill.id %>_issues" class="issues_form">
				<%= form_tag add_issues_bill_path(bill.id) do %>
					<%= select_tag "bill_issues", options_from_collection_for_select(@issues, "id", "name", ids), multiple: true, class: "issue_select form-control" %>
					<%= submit_tag "Add Issues To Bills", :class => 'btn btn-default' %>
				<% end %>
			</div>



			<div style="display:none;" id="bill_<%= bill.id %>_media_links" class="issues_form">
				<h4>MEDIA LINKS</h4>
				<% media_links = bill.media_links %>
				<% if media_links.any? %>
					<% media_links.each do |media_link| %>
							<div class="row" style="padding-top: 10px;padding-bottom: 20px;border-bottom: 1px solid #C9C9C9;margin-bottom: 20px;">
								<div class="col-md-7">
									<%= media_link.web_url %>
								</div>
								<div class="col-md-5">
									<%= form_for media_link, method: :delete, html: {style: "display:inline;"}  do |f|%>
										<%# f.submit '<span class="glyphicon glyphicon-trash"></span> DELETE', style: "", :class=>'btn btn-sm btn-default' %>
										<%= button_tag(type: 'submit', class: "btn btn-xs btn-default") do %>
											<i class="glyphicon glyphicon-trash"></i> DELETE
										<% end %>
									<% end %>
								</div>
							</div>
					<% end %>
				<% end %>
				<div class="row">
					<div class="col-md-12">
						<%= form_for(bill.media_links.build(bill_id: bill.id)) do |f| %>
						  <div><%= f.hidden_field :bill_id %></div>
						  <%= f.text_field :web_url, placeholder: "MEDIA LINK", style: "height: 34px;position: relative;top: 2px;width: 288px;" %>
						  <%= f.submit "Add Media Link To Bill", :class => 'btn btn-default' %>
						<% end %>
					</div>
				</div>
			</div>





		</div>
		<div class="col-md-5"> 
			<a href="" id="<%= bill.id %>" class="show_edit btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span> EDIT</a>
			<a href="" id="<%= bill.id %>" class="show_issues btn btn-xs btn-default"><span class="glyphicon glyphicon-plus-sign"></span> ISSUES</a>
			<a href="" id="<%= bill.id %>" class="show_media_links btn btn-xs btn-default"><span class="glyphicon glyphicon-plus-sign"></span> MEDIA LINKS</a>
			<%= form_for bill, method: :delete, html: {style: "display:inline;"}  do |f|%>
				<%# f.submit '<span class="glyphicon glyphicon-trash"></span> DELETE', style: "", :class=>'btn btn-sm btn-default' %>
				<%= button_tag(type: 'submit', class: "btn btn-xs btn-default") do %>
					<i class="glyphicon glyphicon-trash"></i> DELETE
				<% end %>
			<% end %>
		</div>
	</div>
</li>