<div class="row admin-content">
	<div class="col-md-9" role="main">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-din text-uppercase" style="margin-top: 0;">BILLS</h2>
				<%= form_for @setting do |f| %>
					<%= f.label :yes, "Automatic Trending?" %>
					<%= f.check_box :yes %>
					<%# f.submit "Save Trending Setting", class:'btn btn-default' %>
					<%= button_tag(type: 'submit', class: "btn btn-sm btn-default") do %>
						<i class="fa fa-floppy-o"></i> Save Trending Setting
					<% end %>
				<% end %>

				<h2 class="text-din text-uppercase">
				  Download Bills
				</h2>
				<div class="form-group">
					 <%# link_to "Excel", bills_path(format: "xls") %>
					 <%= link_to(bills_path(format: "xls"), class: 'btn btn-sm btn-default') do %>
					 	<i class="fa fa-file-excel-o"></i> Excel
					 <% end %>
				</div>

				<h2 class="text-din text-uppercase">Mass Import Bills</h2>
				<%= form_tag mass_bill_import_admins_path, multipart: true do %>
					<div class="form-group">
						<%= file_field_tag :file %>
					</div>
					<%# submit_tag "Import Bills", class:'btn btn-default' %>
					<div class="form-group">
						<%= button_tag(type: 'submit', class: "btn btn-sm btn-default") do %>
							<i class="glyphicon glyphicon-import"></i> Import Bills
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="col-md-12">
				<h2 class="text-din text-uppercase">Manage Bills</h2>
			</div>
			<div class="col-md-12">
				<% if @bills.any? %>
				<ul class="list-group">
				<% @bills.each do |bill| %>
				<% 
					ids = []
					bill.issues.each do |issue|
						ids << issue.id
					end 
				%>
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-8">
							<%= bill.simple_name.upcase %>
							<div style="display:none;" id="bill_<%= bill.id %>_edit" class="edit_form">
								<%= form_for bill, remote: true do |f| %>
									<div class="form-group">
										<%= f.label :simple_name, "Common Name" %>
										<%= f.text_field :simple_name, class:'form-control' %>
									</div>
									<div class="form-group">
										<%= f.label :official_name, "Official Name" %>
										<%= f.text_field :official_name, class:'form-control' %>
									</div>
									<div class="form-group">
										<%= f.label :support, "Arguments For" %>
										<%= f.bootsy_area :support, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
									</div>
									<div class="form-group">
										<%= f.label :opposition, "Arguments Against" %>
										<%= f.bootsy_area :opposition, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
									</div>
									<div class="form-group">
										<%= f.label :meaning, "Meaning" %>
										<%= f.bootsy_area :meaning, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
									</div>
									<div class="form-group">
										<%= f.label :impact, "Who Does It Impact?" %>
										<%= f.bootsy_area :impact, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
									</div>
									<div class="form-group">
										<%= f.label :cost, "Potential Costs" %>
										<%= f.bootsy_area :cost, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
									</div>
									<div class="form-group">
										<%= f.label :trending, "Add To Top Trending?" %>
										<%= f.check_box :trending %>
									</div>
									<div class="form-group">
										<%= f.label :progress, "Current Bill Progress" %>
										<%= f.select :progress, options_for_select([ ["HOUSE OF COMMONS","house_of_commons"], ["HOUSE OF LORDS","house_of_lords"],["ROYAL ASSENT","royal_assent"] ], bill.progress),{}, {:class=>'form-control'} %>
									</div>
									<div class="form-group">
										<%= f.label :image_url %>
										<%= f.file_field :image_url %>
									</div>
									<%= f.submit "Save Bill Edits", :class => 'btn btn-lg btn-default', id: "edit_bill_btn" %>
								<% end %>
							</div>
							<div style="display:none;" id="bill_<%= bill.id %>_issues" class="issues_form">
								<%= form_tag add_issues_bill_path(bill.id) do %>
									<%= select_tag "bill_issues", options_from_collection_for_select(@issues, "id", "name", ids), multiple: true, class: "issue_select form-control" %>
									<%= submit_tag "Add Issues To Bills", :class => 'btn btn-default' %>
								<% end %>
							</div>
						</div>
						<div class="col-md-1"> 
							<a href="" id="<%= bill.id %>" class="show_edit btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span> EDIT</a>
						</div>
						<div class="col-md-1"> 
							<a href="" id="<%= bill.id %>" class="show_issues btn btn-xs btn-default"><span class="glyphicon glyphicon-plus-sign"></span> ISSUES</a>
						</div>
						<div class="col-md-2"> 
							<%= form_for bill, method: :delete, html: {style: "display:inline;"}  do |f|%>
								<%# f.submit '<span class="glyphicon glyphicon-trash"></span> DELETE', style: "", :class=>'btn btn-sm btn-default' %>
								<%= button_tag(type: 'submit', class: "btn btn-xs btn-default") do %>
									<i class="glyphicon glyphicon-trash"></i> DELETE
								<% end %>
							<% end %>
						</div>
					</div>
				</li>
				<% end %>
				</ul>
				<% end %>
			</div>
			<div class="col-md-12">
				<h2 class="text-din text-uppercase">Add Bill</h2>
			</div>
			<div class="col-md-12">
				<a href="javascript:;" class="show_add btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span> ADD</a>
				<div style="display:none;" class="add_form">
				<%= form_for @bill do |f| %>
				    <div class="form-group">
						<%= f.label :simple_name, "Common Name" %>
						<%= f.text_field :simple_name, required: true, class:'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :official_name, "Official Name" %>
						<%= f.text_field :official_name, required: true, class:'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :support, "Arguments For" %>
						<%= f.bootsy_area :support, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :opposition, "Arguments Against" %>
						<%= f.bootsy_area :opposition, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :meaning, "Meaning" %>
						<%= f.bootsy_area :meaning, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :impact, "Who Does It Impact?" %>
						<%= f.bootsy_area :impact, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
						<%= f.label :cost, "Potential Costs" %>
					</div>
					<div class="form-group">
						<%= f.bootsy_area :cost, editor_options: { color: false,image: false, font_styles: false }, style:'width:100%;height:150px;' %>
					</div>
					<div class="form-group">
						<%= f.label :trending, "Add To Top Trending?" %>
						<%= f.check_box :trending %>
					</div>
					<div class="form-group">
						<%= f.label :progress, "Current Bill Progress" %>
						<%= f.select :progress, options_for_select([ ["HOUSE OF COMMONS","house_of_commons"], ["HOUSE OF LORDS","house_of_lords"],["ROYAL ASSENT","royal_assent"] ]),{}, {:class=>'form-control'} %>
					</div>
					<div class="form-group">
						<%= f.label :image_url %>
						<%= f.file_field :image_url %>
					</div>
					<div class="form-group">
						<%# f.submit "Add New Bill", :class => 'btn btn-lg btn-primary' %>
						<%= button_tag(type: 'submit', class: "btn btn-lg btn-primary") do %>
							<i class="glyphicon glyphicon-plus"></i> Add New Bill
						<% end %>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	<%= render "admins/admin_sidebar" %>
</div>

<div class="modal fade modal-alert modal-danger" id="warningModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1><i class="fa fa-exclamation-triangle"></i></h1>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this bill? This cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="warning-rel" value="" />
				<a href="javascript:;" id="do-warning" class="btn btn-flat btn-danger"><i class="fa fa-check"></i> Yes</a>
				<a href="javascript:;" class="btn btn-flat btn-outline" data-dismiss="modal"><i class="fa fa-times"></i> No</a>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
var ready;
ready = function() {

$(document).on('click','.show_add',function(e){
	e.preventDefault();
	$('.show_add').fadeOut();
	$('.add_form').fadeIn();
});

$(document).on('click','.show_edit',function(e){
	e.preventDefault();

	var id = $(this).attr('id');
	var fin = 'bill_' + id + '_edit'

	if ( $('#' + fin).is(':visible') ) {
		$('#' + fin).fadeOut();
	} else {
		$('.issues_form').css('display','none');
		$('.edit_form').css('display','none');
		$('#' + fin).fadeIn();
	}
});

$(document).on('click','.show_issues',function(e){
	e.preventDefault();

	var id = $(this).attr('id');
	var fin = 'bill_' + id + '_issues'

	if ( $('#' + fin).is(':visible') ) {
		$('#' + fin).fadeOut();
	} else {
		$('.edit_form').css('display','none');
		$('.issues_form').css('display','none');
		$('#' + fin).fadeIn();
	}
});

 //
 // Build multiselect for filtering form
 // 

  $('.issue_select').multiselect();

  $('form.edit_bill').addClass('bill_form');
  $('form.new_bill').addClass('bill_form');

	// added in by coke is below
	/*
	form validation
	modal display to warn of deletion
	some sort of visual feedback while saving
	*/
	/*
	$(document).on('submit','form.edit_bill', function(e){
		e.preventDefault();
		console.log( 'delete' );
		$('#warningModal').modal('show');
	});

	

	$(document).on('submit','form.new_bill', function(e){
		//if ($(this).valid()) {
			console.log( 'submitted' );
		//}
		return false;
	});
	*/

	$('body').on('click', '#edit_bill_btn', function(e){
		e.preventDefault();
		console.log('btn pressed');
		// here I have intercepted edit form from submitting
		// this is good if using confirm modal and unecessary if going straight to loading modal
		// add ability to show confirmation or loading modal here
		// if using confirm modal you need to intercept that click, change modal to loading, and continue with form submit

	});

 };

$(document).ready(ready);
$(document).on('page:load', ready);
</script>

<%= render "admins/aws_upload" %>