<div class="container">
	<div class="row admin-content">
		<div class="col-sm-9" role="main">
			<h2 class="text-din text-uppercase">
			  Download MPs
			</h2>
			<div class="form-group">
				 <%# link_to "Excel", bills_path(format: "xls") %>
				 <%= link_to(mps_path(format: "xls"), class: 'btn btn-sm btn-default') do %>
					<i class="fa fa-file-excel-o"></i> Excel
				 <% end %>
			</div>

			<h2 class="text-din text-uppercase">Mass Import MPs</h2>
			<%= form_tag mass_mp_import_admins_path, multipart: true do %>
				<div class="form-group">
					<%= file_field_tag :file %>
				</div>
				<%# submit_tag "Import Bills", class:'btn btn-default' %>
				<div class="form-group">
					<%= button_tag(type: 'submit', class: "btn btn-sm btn-default") do %>
						<i class="glyphicon glyphicon-import"></i> Import Mps
					<% end %>
				</div>
			<% end %>

			<h2 class="text-din text-uppercase">Manage MPs</h2>
				<% if @mps.any? %>
				<ul class="list-group">
					<% @mps.each do |mp| %>
						<li class="list-group-item">
							<%= mp.voting_name %> / <%= mp.email %> / <%= mp.tw_link %> / <%= mp.fb_link %> / <%= mp.constituency.name %>
						</lI>
					<% end %>
				</ul>
				<% end %>

		</div>
		<%= render "admins/admin_sidebar" %>
	</div>
</div><!--.container-->