<% if @setting.yes == false %>
<%= link_to "Update MPs In DB", populate_mps_admins_path, {:method=> :post, data: {confirm: 'Are you sure? This will take a while!  Perform during a slow time (late at night).'}} %> <%= @mps.length %>
<% else %>
<p>Currently updating DB check back shortly!</p>
<% end %>
<% if true %>
<div class="row admin-content">
	<div class="col-md-9" role="main">
		<h2>
		  Download:
		  <%= link_to "Excel", mps_path(format: "xls") %>
		</h2>

		<h2>Mass Import MPs</h2>
		<%= form_tag mass_mp_import_admins_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import MPs" %>
		<% end %>
		<br>
		<% if @mps.any? %>
			<% @mps.each do |mp| %>
				<%= mp.voting_name %> <%= mp.votes.first.in_favor if mp.votes.any? %><br>
			<% end %>
		<% end %>
	</div>
	<%= render "admins/admin_sidebar" %>
</div>
<% end %>