<div class="row admin-content">
	<div class="col-md-9" role="main">
		<%= form_tag get_voting_results_admins_path do %>
			<div class="form-group">
				<%# select_tag :bill_id, options_from_collection_for_select(@bills, 'id', 'simple_name') %>
				<%= select_tag "bill_id", options_from_collection_for_select(@bills, "id", "simple_name"), multiple: false, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= text_field_tag :web_url, '', class:'form-control' %>
				<%# f.text_field :simple_name, class:'form-control' %>
			</div>
			<div class="form-group">
			<%# submit_tag "Get Results" %>
			<%= button_tag(type: 'submit', class: "btn btn-default") do %>
				<i class="fa fa-arrow-circle-o-down"></i> Get Results
			<% end %>
			</div>
		<% end %>
	</div>
	<%= render "admins/admin_sidebar" %>
</div><!-- .admin-content-->
