<div class="col-md-6" id="hidden_mp" style="display:none;">
  <div class="row">

    <div class="col-sm-4">
      <img src="<%= @mp.picture_url if @mp && @mp.picture_url %>" style="height:141px;width:141px;background-color:#10b8b8;">

    </div>
    <div class="col-sm-8">
      <div id="mp-info" style="display:inline-block;">
        <div style="text-transform:uppercase;padding-bottom:4px;" class="clearfix">
          <%= @mp.name %>
        </div>
        <div id="mp-statistics">
          <div class="clearfix">
            MP for <%= @mp.constituency.name %><br>
          </div>
          <% if @mp.email != "" %>
            <div style="display:inline-block;padding-right:12px;">
              <a href="mailto:<%= @mp.email %>"><i class="fa fa-envelope" title="Send Message"></i></a>
            </div>
          <% end %>
          <% if @mp.fb_link %>
            <div style="display:inline-block;padding-right:12px;">
              <a href="<%= @mp.fb_link %>" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          <% end %>
          <% if @mp.tw_link %>
            <div style="display:inline-block;padding-right:12px;">
              <a href="<%= @mp.tw_link %>" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
          <% end %>
        </div><!-- #mp-statistics -->
        <div style="text-transform:uppercase;padding-bottom:4px;" class="clearfix">
          <%= @mp.phone %>
        </div>
      </div><!-- #mp-info -->
    </div>
  </div>
</div>