<% 
	bill = vote.bill.decorate
	if bill
  progress = bill.progress
	finder_name = progress + "_div"
%>
<div class="text-center" style="padding-bottom: 50px;">
	<div class="main-bill" style='background-image: linear-gradient(rgba(12, 11, 11, 0.24), rgba(12, 11, 11, 0.24)),
																url("<%= bill.set_background_img %>");'>
		<div><%= bill.set_trending_bill_link(current_user) %></div>
	</div>



	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-6 text-left" style="padding-left:-15px;margin-left:-15px;">
			<div id="user-image" style="text-transform:uppercase;display:inline-block;vertical-align:top;padding-right:12px;">
				<img src="<%= current_user.picture_url || image_path('blank.png') %>" style="height:50px;width:50px;background-color:#10b8b8;border:none;border-radius: 50%;" />
			</div>
			<div style="display:inline-block;">
				<% if vote.in_favor %>
					<p class="text-din-medium text-you-voted" style=""><%= vote.voteable.name.upcase %> VOTED <span class="text-vote-yes">YES</span></p>
					<div class="text-din text-change-vote">CHANGE VOTE TO <%= render 'bills/vote_no_short_form', bill: bill.id %></div>
				<% else %>
					<p class="text-din-medium text-you-voted"><%= vote.voteable.name.upcase %> VOTED <span class="text-vote-no">NO</span></p>
					<div class="text-din text-change-vote">CHANGE VOTE TO <%= render 'bills/vote_yes_short_form', bill: bill.id %></div>
				<% end %>
			</div>
		</div>
		<div class="col-md-6 text-right">
			<% if @mp %>
				<% 
					@mp_vote = bill.get_mp_vote(@mp) if @mp
					if @mp_vote
				%>
					<% if @mp_vote.in_favor %>
						<p class="text-din-medium text-you-voted"><%= @mp.name.upcase %> VOTED <span class="text-vote-yes">YES</span></p>
					<% else %>
						<p class="text-din-medium text-you-voted"><%= @mp.name.upcase %> VOTED <span class="text-vote-no">NO</span></p>
					<% end %>
				<% else %>
					<p class="text-din-medium text-you-voted"><%= @mp.name.upcase %> HAS YET TO VOTE ON BILL</p>
				<% end %>
			<% end %>
		</div>
	</div>



	<div class="row" style="padding-bottom:20px;">
		<h4 class="text-left text-din" style="">BILL PROGRESS</h4>

		<div class="col-sm-6 bill-progress-bar" style="padding-left: 0;">
			<div class="text-din text-center myvotes-bill-progress-title house_of_commons_div" style="<%= 'background-color:#DAD7D7;' if finder_name == 'house_of_commons_div' || finder_name == 'house_of_lords_div' || finder_name == 'royal_assent_div'%>; display:inline-block;">
				HOUSE&nbsp;OF&nbsp;COMMONS
			</div>
			<div style="width:34px; display:inline-block;"></div>
			<div class="text-din text-center myvotes-bill-progress-title house_of_lords_div" style="<%= 'background-color:#DAD7D7;' if finder_name == 'house_of_lords_div' || finder_name == 'royal_assent_div'%>; display:inline-block;">
				HOUSE&nbsp;OF&nbsp;LORDS
			</div>
			<div style="width:34px; display:inline-block;"></div>
			<div class="text-din text-center myvotes-bill-progress-title royal_assent_div" style="<%= 'background-color:#DAD7D7;' if finder_name == 'royal_assent_div' %>; display:inline-block;">
				ROYAL&nbsp;ASSENT
			</div>
		</div>

		<%= form_for vote, url: change_vote_comment_vote_path(vote.id) do |f| %>
			<div class="col-sm-6 myvotes-comment" style="padding: 0px;min-height: 45px;border: medium none;">
				<% if vote.comment != "" %>
					<%= f.text_area :comment, style:"padding-top: 8px;resize: none;width: 100%;height: 100%;padding-left: 10px;", class: "text-din text-left comment_field" %>
				<% else %>
					<%= f.text_area :comment, placeholder: "YOU HAVE NO COMMENT", style:"padding-top: 8px;resize: none;width: 100%;height: 100%;padding-left: 10px;", class: "text-din text-left comment_field" %>
				<% end %>
				<%= f.submit "Change Comment", style: "position: absolute;right: 0px;height: 96%; display:none;", class: "hidden-comment-btn" %>
			</div>
		<% end %>

	</div>



</div>
<% end %>
