<div class="container max_924">

<div class="row">
  <div class="col-md-12">
    <h2 class="text-din text-center" style="padding-bottom: 40px;">MEET</h2>
  </div>
</div>

<div class="row" style="padding-bottom: 40px;border-bottom: 1px solid #c0c0c0;margin-bottom: 20px;">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-4">
        <img src="<%= @user.picture_url %>" style="height:141px;width:141px;background-color:#ef4747;">
      </div>
      <div class="col-sm-8" class="text-din">
        <div class="text-uppercase">HI <%= @user.name %></div>
        <p>Please enter your postcode.  We need this to find your local MP.<p>
        <%= form_tag add_post_code_join_constituency_user_path(current_user), id: "add_postcode" do %>
          <%= text_field_tag :postcode, @user.post_code %>
          <%= submit_tag 'submit', id: "postcode_check" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-4">
        <img src="" style="height:141px;width:141px;background-color:#10b8b8;">
      </div>
      <div class="col-sm-8">
        <div class="text-uppercase"><%= @mp.name if @mp %></div>
        <div>MP for <%= @constituency.name if @constituency %>
        Send message <br/>
        FB TW EM<br/>
        Phone
      </div>
    </div>
  </div>
</div>
</div>

<div class="row" style="padding-bottom: 20px;border-bottom: 1px solid #c0c0c0;margin-bottom: 20px;">
  <div class="col-md-12 text-center">
    <h2 class="text-din text-center" style="padding-bottom: 40px;">PICK YOUR PARTY</h2>
    <% 
      if @parties.any? 
      @parties.each do |party|
    %>
      <h4 style="display:inline;padding: 15px;line-height: 2.5em;"><a href="javascript:;" class="add_user_to_party_link text-din text-uppercase" id="<%= party.id %>"><%= party.name %></a></h4>
    <% end %>
    <% end %>
    <div style="clear:both;"></div>
    <div style="display:none;">
      <%= form_tag add_user_to_party_user_path(@user), id: "add_party" do %>
        <%= hidden_field_tag :party_name, "" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row"  style="padding-bottom:60px;">
  <div class="col-md-12">
    <h2 class="text-din text-center" style="padding-bottom: 40px;">EDIT ACCOUNT INFO</h2>
      <%= form_for(@user, :url => { :action => "update_info" } ) do |f| %>
        <div class="field form-group">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, :autocomplete => "off", :class => 'form-control'  %>
        </div>
        <div class="field form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :allow_profile_view %>
          <%= f.check_box :allow_profile_view %>
        </div>
        <div class="action_container">
          <%= f.submit %>
        </div>
      <% end %>

      <% unless @idents.include?("twitter") %>
        <a href="<%= root_url %>users/auth/twitter">MERGE TWITTER</a>
      <% else %>
        <a href="<%= remove_twitter_users_path %>">REMOVE TWITTER FROM ACCOUNT</a>
      <% end %>

      <% unless @idents.include?("facebook") %>
        <a href="<%= root_url %>users/auth/facebook">MERGE FB</a>
      <% else %>
        <a href="<%= remove_twitter_users_path %>">REMOVE FB FROM ACCOUNT</a>
      <% end %>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>

</div><!--.container max_924-->

<script type="text/javascript">
function testPostCode () {
  var newPostCode = checkPostCode  (document.getElementById('postcode').value);
  if (newPostCode) {
    document.getElementById('postcode').value = newPostCode;
    $('#add_postcode').trigger("submit.rails");
  } 
  else alert ("Postcode has invalid format");
}
$('body').off('click','#postcode_check');
$('body').on('click','#postcode_check', function(e){
  e.preventDefault();
  testPostCode();
});
</script>

<script type="text/javascript">
var ready;
ready = function() {

$('body').off('click','.add_user_to_party_link');
$('body').on('click','.add_user_to_party_link', function(e){
  e.preventDefault();

  var _this = $(this).text();
  $('#party_name').val(_this);
  $('#add_party').trigger("submit.rails");


});

<% if @user.party_id %>
    $('.add_user_to_party_link#' + <%= @user.party_id %>).css({color: '#ef4747', border: '1px solid #333', padding: '5px 10px'});
<% end %>
};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>