<div class="container max_924">


<div class="row" id="meet_div" style="display:none;">
  <div class="col-md-12">
    <h2 class="text-din text-center" style="padding-bottom: 40px;">MEET</h2>
  </div>
</div>

<div class="row" style="padding-bottom: 40px;border-bottom: 1px solid #c0c0c0;margin-bottom: 20px;">
  <div class="col-md-6">
    <div class="row">
        <div class="col-sm-4">
          <% if @user.picture_url %>
            <div style="height:141px;width:141px;background-color:#ef4747;">
              <img src="<%= @user.picture_url %>" style="height:141px;width:141px;background-color:#ef4747;">
              <%= form_for @user, url: update_info_users_path, html: {class: "user_image_form"} do |f| %>
                <%= f.file_field :picture_url, style: "position: absolute;bottom: 0px;opacity: 0;z-index: 99999;cursor: pointer;width: 141px;" %>
                <%= f.submit "Change Image", style: "", class: "change_image_btn" %>
              <% end %>
            </div>
          <% else %>
            <div style="height:141px;width:141px;background-color:#ef4747;">
              <%= form_for @user, url: update_info_users_path, html: {class: "user_image_form"} do |f| %>
                <%= f.file_field :picture_url, style: "position: absolute;bottom: 0px;opacity: 0;z-index: 99999;cursor: pointer;width: 141px;" %>
                <%= f.submit "Change Image", style: "", class: "change_image_btn" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <div class="col-sm-8" class="text-din">
        <div class="text-uppercase">HI <%= @user.name %></div>
        <p>Please enter your postcode.  We need this to find your local MP.</p>
        <%= form_tag add_post_code_join_constituency_user_path(current_user), id: "add_postcode", remote: true do %>
          <div class="form-group" style="">
             <%= text_field_tag :postcode, @user.post_code, class: 'form-control text-center', style: "width: 30%;display: inline;min-width: 90px;" %>
           </div>
            <%# submit_tag 'submit', id: "postcode_check" %>
            <div class="form-group" style="">
               <%= button_tag(type: 'submit', id: "postcode_check", class: "btn btn-default text-center", style: "border-radius: 0px;width: 30%;display: inline;min-width: 90px;") do %>
                 SUBMIT <i class="fa fa-caret-right"></i>
               <% end %>
             </div>

        <% end %>
      </div>
    </div>
  </div>

  <div id="mp_side">
    <% if @mp %>
      <%= render "users/mp_side_partial" %>
    <% end %>
  </div>

 
</div>

<div id="party_list">
  <%= render "users/party_list_partial" %>
</div>


<div class="row"  style="padding-bottom:40px; border-bottom: 1px solid #c0c0c0;">
  <div class="col-md-12">
    <div style="display:none;">
        <h4 class="text-din text-center" style="padding-bottom: 40px;">EDIT ACCOUNT INFORMATION</h4>
          <%= form_for(@user, :url => { :action => "update_info" } ) do |f| %>
            <div class="field form-group">
              <%= f.label :password, "Password" %>
              <%= f.password_field :password, :autocomplete => "off", :class => 'form-control'  %>
            </div>
            <div class="field form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, :class => 'form-control' %>
            </div>
            <div class="field form-group">
              <%= f.label :allow_profile_view %>
              <%= f.check_box :allow_profile_view %>
            </div>
            <div class="action_container form-group">
                 <%# f.submit %>
          <%= button_tag(type: 'submit', class: "btn btn-outline btn-square") do %>
                  <i class="fa fa-user"></i> Update User
              <% end %>
            </div>
          <% end %>
    </div>
    

      <%= form_for(@user, :url => { :action => "update_info" } ) do |f| %>
        <div class="field form-group">
          <h4 class="text-din">ABOUT YOU</h4>
        </div>
        <div class="field form-group">
          <%= f.text_area :bio, :class => 'form-control text-din', placeholder: "ENTER YOUR BIO"  %>
        </div>
        <div class="field form-group">
          <h4 class="text-din">SOCIAL MEDIA LINKS</h4>
        </div>
        <div class="row">
        	<div class="col-sm-6">
				<div class="field form-group">
				  <%= f.text_field :fb_link, :class => 'form-control text-din', placeholder: "FACEBOOK"  %>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="field form-group">
				  <%= f.text_field :tw_link, :class => 'form-control text-din', placeholder: "TWITTER"  %>
				</div>
			</div>
		</div>
        <div class="row">
        	<div class="col-sm-6">
				<div class="field form-group">
				  <%= f.text_field :insta_link, :class => 'form-control text-din', placeholder: "INSTAGRAM"  %>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="field form-group">
				  <%= f.text_field :youtube_link, :class => 'form-control text-din', placeholder: "YOUTUBE"  %>
				</div>
			</div>
		</div>
        <div class="field form-group">
          <%= f.text_field :web_link, :class => 'form-control text-din', placeholder: "WEBSITE"  %>
        </div>
        <div class="field form-group">
          <h4 class="text-din">ADDRESS</h4>
        </div>
        <div class="field form-group">
          <%= f.text_field :street_addr, :class => 'form-control text-din', placeholder: "STREET"  %>
        </div>
        <div class="row">
        	<div class="col-sm-6">
				<div class="field form-group">
				  <%= f.text_field :city, :class => 'form-control text-din', placeholder: "CITY"  %>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="field form-group">
				  <%= f.text_field :post_code, :class => 'form-control text-din', placeholder: "POSTCODE", disabled: true  %>
				</div>
			</div>
		</div>
        <div class="field form-group">
          <%= f.text_field :phone, :class => 'form-control text-din', placeholder: "PHONE (OPTIONAL)"  %>
        </div>
        <h4 class="text-din">PUBLIC PROFILE</h4>
        <%= f.label :allow_profile_view, "MAKE YOUR PROFILE PRIVATE?", style: "font-family: dinRegular;font-size: 12px;font-weight: normal;" %>
        <%= f.check_box :allow_profile_view %>
        <p style="font-family: dinRegular;font-size: 12px;font-weight: normal;">LINK TO YOUR PROFILE: www.whip.org.uk/users/<%= current_user.id %></p>
        <div class="action_container clearfix">
        	<div class="pull-right">
          <%# f.submit %>
			<%= button_tag(type: 'submit', class: "btn btn-default btn-square", style: "font-size: 12px;") do %>
           		SAVE DETAILS
         	<% end %>
         	</div>
        </div>
      <% end %>




      <div style="display:none;">
        <div class="form-group">
          <% unless @idents.include?("twitter") %>
           <a href="<%= root_url %>users/auth/twitter" class="btn btn-default"><i class="fa fa-twitter"></i> MERGE TWITTER</a>
          <% else %>
           <a href="<%= remove_twitter_users_path %>" class="btn btn-default"><i class="fa fa-twitter"></i> REMOVE TWITTER FROM ACCOUNT</a>
          <% end %>

          <% unless @idents.include?("facebook") %>
             <a href="<%= root_url %>users/auth/facebook" class="btn btn-default"><i class="fa fa-facebook"></i> MERGE FACEBOOK</a>
          <% else %>
           <a href="<%= remove_twitter_users_path %>" class="btn btn-default"><i class="fa fa-facebook"></i> REMOVE FACEBOOK FROM ACCOUNT</a>
          <% end %>
      </div>
     </div>
     
  </div>
</div>

<div class="row" style="border-bottom: 1px solid #c0c0c0;margin-bottom: 20px;">
  <div class="col-md-12">
    <p style="text-align:right;padding-bottom: 30px; padding-top:30px;"><a href="<%= bills_path %>" class="btn btn-default btn-square" style="font-size: 12px;" >INFLUENCE YOUR MP</a></p>
  </div>
</div>

<div class="form-group" style="padding-top:20px;text-align: right;padding-bottom: 60px;">
      <%= button_to 'CANCEL MY ACCOUNT'.html_safe, registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default btn-square', style: 'font-size: 12px;' %>
     </div>

</div><!--.container max_924-->

<%= render "users/aws_upload" %>

<script type="text/javascript">
function testPostCode () {
  var newPostCode = checkPostCode  (document.getElementById('postcode').value);
  if (newPostCode) {
    document.getElementById('postcode').value = newPostCode;
    $('#add_postcode').trigger("submit.rails");
  }  else {
  	// alert ("Postcode has invalid format");
  	$('#warningModal .modal-body').html('<p>Postcode has invalid format</p>');
  	$('#warningModal').modal('show');
  	}
}
$('body').off('click','#postcode_check');
$('body').on('click','#postcode_check', function(e){
  e.preventDefault();
  testPostCode();
});
</script>

<script type="text/javascript">
var ready;
ready = function() {
$('body').off('click','.add_user_to_party_link');
$('body').on('click','.add_user_to_party_link', function(e){
  e.preventDefault();
  var _this = $(this).text();
  $('#party_name').val(_this);
  $('#add_party').trigger("submit.rails");
});
<% if @mp %>
  $('#meet_div').css('display','block');
<% end %>
<% if @user.party_id %>
    $('.add_user_to_party_link#' + <%= @user.party_id %>).css({color: '#ef4747', border: '1px solid #333', padding: '10px 14px 7px'});
<% end %>
};

$('body').on('click','.change_image_btn', function(e){
  e.preventDefault();


});

$('body').on('change','#user_picture_url',function(e){
  e.preventDefault();


});



$(document).ready(ready);
$(document).on('page:load', ready);
</script>