<div class="text-center masonary_sizing">
	<a href='<%= bill_path(bill) %>' class='bricks'>

		<div class="panel panel-bills small-bill-highlight panel-body">
			<div class="common-bill" style="background-image: url('<%= bill.set_background_img %>'); border-radius: 12px;">
				<p class="common-bill-title" style="font-size: 18px;padding-top: 22px;"><%= bill.simple_name %></p>
				<p class="common-bill-title"><small><%= "#{bill.official_name_text(bill)}" %></small></p>
			</div>


			<div class="text-center text-din" style="padding-bottom:22px;border-bottom: 1px solid #a1a1a1; ">
				<h2 class="header-argument-for">ARGUMENTS FOR</h2>
				<%= bill.support.html_safe %>
			</div>
			<div class="text-center text-din" style="padding-bottom:22px;border-bottom: 1px solid #a1a1a1; ">
				<h2 class="header-argument-against" style="margin-top:20px;">ARGUMENTS AGAINST</h2>
				<%= bill.opposition.html_safe %>
			</div>



			<div class="row" style="margin: 0 5px 10px 5px;padding: 0 5px;">
				<div class="col-sm-6 vote-button-yes">
					<%= bill.set_yes_vote_btn(current_user) %>
				</div>
				<div class="col-sm-6 vote-button-no">
					<%= bill.set_no_vote_btn(current_user) %>
				</div>
			</div>
		</div><!--.panel-->


	</a>
</div><!-- .col-sm-6 -->
		