<% if user_signed_in? %>
	<div class="row" style="margin-bottom: 20px; border-bottom: 1px solid #030303; padding-bottom: 20px;">
		<div class="col-md-6">
			<%= current_user.name %><br>
			<%= @votes_count %> Votes<br>
			<a href="<%= edit_user_path(current_user) %>">SETTINGS</a><br>
			<a href="#">FOLLOWERS</a><!-- add this functionality still -->
		</div>
		<div class="col-md-6" style="text-align:right;">
			<% 
				if current_user.constituency && current_user.constituency.mp
				@mp = current_user.constituency.mp
			%>
				<%= @mp.name %><br>
				MP for <%= @mp.constituency.name %><br>
				Send Message<br>
				Social Icons<br>
			<% end %>
		</div>
	</div>
<% end %>