<div class="col-md-12">


	<div class="main-bill" style='background-image: linear-gradient(rgba(12, 11, 11, 0.24), rgba(12, 11, 11, 0.24)),
																url("<%= bill.set_background_img %>");'>
		<div><%= bill.set_trending_bill_link(current_user) %></div>
	</div>



	<%= bill.set_link_of_subtext(current_user) %>
		<div class="row">
			<div class="col-sm-6">
				<h2 class="header-argument-for">ARGUMENTS FOR</h2>
				<p><%= bill.support.html_safe %></p>
			</div>
			<div class="col-sm-6">
				<h2 class="header-argument-against">ARGUMENTS AGAINST</h2>
				<p><%= bill.opposition.html_safe %></p>
			</div>
		</div>
	</a>



	<div class="row">
		<div class="col-sm-6 main-bill-votes">
				<%= bill.set_yes_vote_btn(current_user) %>
		</div>
		<div class="col-sm-6 main-bill-votes">
				<%= bill.set_no_vote_btn(current_user) %>
		</div>
	</div>


</div>