<% 
	if against
		@classes =  "btn btn-vote-no-voted text-din"
	else
		@classes = "btn btn-vote-no text-din"
	end
%>
<%= form_tag votes_path, {class: "bill_voting vote_no"} do |f| %>
  <div><%= hidden_field_tag 'bill_id', bill %></div>
  <div><%= hidden_field_tag 'in_favor', false %></div>
  <%= hidden_field_tag 'comment', "", class: "hidden_comment" %>
  <%= submit_tag "VOTE NO", class: @classes %>
<% end %>