<% 
	if favor
		@classes =  "btn btn-vote-yes-voted text-din"
	else
		@classes = "btn btn-vote-yes text-din"
	end
%>
<%= form_tag votes_path, {class: "bill_voting vote_yes"} do |f| %>
  <div><%= hidden_field_tag 'bill_id', bill %></div>
  <div><%= hidden_field_tag 'in_favor', true %></div>
  <%= hidden_field_tag 'comment', "", class: "hidden_comment" %>
  <%= submit_tag "VOTE YES", class: @classes %>
<% end %>