<div class="container" style="max-width:924px;">

<%= render 'bills/top_banner_with_names' %>
<h2>TOP TRENDING BILLS</h2>

	<div class="row trending_bills" >
		<% 
			if @trending.any?
			@trending.each do |bill|
		 %>
		<div class="col-md-12" style="text-align:center;">
			<div class="row" style="padding-bottom:20px;">
				<div class="col-md-12" id="main-bill">
					<div style="position:absolute; top:50%; height:10em; margin-top:-5em;left: 50%;">
						<div style="position: relative; left: -50%;">
							<h1><%= link_to bill.simple_name, bill_path(bill) %></h1>
							<h3><%= link_to bill.official_name, bill_path(bill) %></h3>
						</div>
					</div>
				</div>
			</div>


			<div class="row" style="margin-bottom: 20px; ">
				<div class="col-sm-6 main-bill-arguments">
					<h2 class="header-argument-for text-center">ARGUMENT FOR</h2>
					<%= bill.support %>
				</div>
				<div class="col-sm-6 main-bill-arguments">
					<h2 class="header-argument-against text-center">ARGUMENT AGAINST</h2>
					<%= bill.opposition %>
				</div>
			</div>


			<div class="row" style="margin-bottom: 20px; border-bottom: 1px solid #c0c0c0; padding-bottom: 20px;">
				<div class="col-md-6" style="text-align:right;">
					<%= render 'bills/vote_yes_form', bill: bill.id %>
				</div>
				<div class="col-md-6" style="text-align:left;">
					<%= render 'bills/vote_no_form', bill: bill.id %>
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>



<div class="row">
	<% 
		if @common.any?
		@common.each do |bill|
	 %>
	<div class="col-md-6" style="text-align:center;">
		<div class="panel panel-bills">
			<div class="panel-body">
				<div class="row" style="padding:20px;">
					<div class="col-md-12" style="text-align:center;">
						<%= link_to bill.simple_name, bill_path(bill) %>
					</div>
				</div>


				<div class="row" style="margin: 0 5px 20px 5px;padding: 0 5px 20px 5px;">
					<div class="col-md-12" style="text-align:center; border-bottom: 1px solid #a1a1a1; ">
						<h2 class="header-argument-for">ARGUMENT FOR</h2>
						<%= bill.support %>
					</div>
					<div class="col-md-12" style="text-align:center; border-bottom: 1px solid #a1a1a1; ">
						<h2 class="header-argument-against">ARGUMENT AGAINST</h2>
						<%= bill.opposition %>
					</div>
				</div>


				<div class="row" style="margin: 0 5px 20px 5px;padding: 0 5px 20px 5px;">
					<div class="col-md-6" style="text-align:right;">
						<% if user_signed_in? %>
							<%= render 'bills/vote_yes_form', bill: bill.id %>
						<% else %>
							<a class="navbar-brand" href="#" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
						<% end %>
					</div>
					<div class="col-md-6" style="text-align:left;">
						<% if user_signed_in? %>
							<%= render 'bills/vote_no_form', bill: bill.id %>
						<% else %>
							<a class="navbar-brand" href="#" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
						<% end %>
					</div>
				</div>
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div>
	<% end %>
	<% end %>
</div>

</div>

<script type="text/javascript">
var ready;
ready = function() {

	  $('.trending_bills').slick({
	    accessibility: true,

	  });

	  $('body').off('click','.bill_voting');
	  $('body').on('click','.bill_voting', function(e){
	  	e.preventDefault();

	  	var this_form = $(this);
	  	var comment_section = $(this_form).children('.hidden_comment');

	  	comment_section.val('testing');
	  	
	  	$('#commentModal').modal('show');

	  	$('#commentModal').off('click','#add_comment');
	  	$('#commentModal').on('click','#add_comment',function(e){
	  		var new_comment = $(this).siblings('#content').val();
	  		comment_section.val(new_comment);
	  		
	  		$('#commentModal').modal('hide');

	  		this_form.trigger("submit.rails");
	  	});

	  });



};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>

<script type="text/javascript">
var ready;
ready = function() {


	  $('body').off('click','.bill_voting');
	  $('body').on('click','.bill_voting', function(e){
	  	e.preventDefault();

	  	var this_form = $(this);
	  	var comment_section = $(this_form).children('.hidden_comment');

	  	comment_section.val('testing');
	  	
	  	$('#commentModal').modal('show');

	  	$('#commentModal').off('click','#add_comment');
	  	$('#commentModal').on('click','#add_comment',function(e){
	  		var new_comment = $(this).siblings('#content').val();
	  		comment_section.val(new_comment);
	  		
	  		$('#commentModal').modal('hide');

	  		this_form.trigger("submit.rails");
	  	});

	  });



};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>
