<%= render 'bills/top_banner_with_names' %>
<div class="row" style="padding-bottom:20px;">
	<div class="col-md-12" style="text-align:center;">
		<%= @bill.simple_name %>
	</div>
</div>


<div class="row" style="margin-bottom: 20px; border-bottom: 1px solid #030303; padding-bottom: 20px;">
	<div class="col-md-6" style="text-align:center;">
		<h2 class="header-argument-for">ARGUMENT FOR</h2>
		<%= @bill.support %>
	</div>
	<div class="col-md-6" style="text-align:center;">
		<h2 class="header-argument-against">ARGUMENT AGAINST</h2>
		<%= @bill.opposition %>
	</div>
</div>


<div class="row" style="margin-bottom: 20px; border-bottom: 1px solid #030303; padding-bottom: 20px;">
	<div class="col-md-6" style="text-align:right;">
		<% if user_signed_in? %>
			<%= render 'bills/vote_yes_form', bill: @bill.id %>
		<% else %>
			<a class="navbar-brand" href="#" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align:left;">
		<% if user_signed_in? %>
			<%= render 'bills/vote_no_form', bill: @bill.id %>
		<% else %>
			<a class="navbar-brand" href="#" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
		<% end %>
	</div>
</div>


<div class="row" style="padding-bottom:20px;">
	<h2 style="text-align:center; padding-bottom:20px;">BILL PROGRESS</h2>
	<div class="col-md-2 col-md-offset-3" style="text-align:center;" id="house_of_commons_div">
		HOUSE OF COMMONS
	</div>
	<div class="col-md-2" style="text-align:center;" id="house_of_lords_div">
		HOUSE OF LORDS
	</div>
	<div class="col-md-2" style="text-align:center;" id="royal_assent_div">
		ROYAL ASSENT
	</div>
</div>


<div class="row" style="padding-bottom:40px;">
	<div class="col-md-12" style="text-align:left;">
		<h2>MEANING</h2>
		<%= @bill.meaning %>
	</div>
</div>


<div class="row" style="padding-bottom:40px;">
	<div class="col-md-12" style="text-align:left;">
		<h2>WHO DOES IT IMPACT?</h2>
		<%= @bill.impact %>
	</div>
</div>


<div class="row" style="padding-bottom:40px;">
	<div class="col-md-12" style="text-align:left;">
		<h2>POTENTIAL COSTS</h2>
		<%= @bill.cost %>
	</div>
</div>


<div class="row" style="padding-bottom:80px;">
	<div class="col-md-12" style="text-align:left;">
		<% @issues.each do |issue| %>
			<p style="display: inline; border: 1px solid #030303; padding: 5px; margin-right: 30px;"><%= issue.name %></p>
		<% end %>
	</div>
</div>

<script type="text/javascript">
var ready;
ready = function() {
var current_progess = "<%= @bill.progress %>";
var finder_name = current_progess + "_div"
$('#' + finder_name).css('color','red');
};

$(document).ready(ready);
$(document).on('page:load', ready);

</script>

<script type="text/javascript">
var ready;
ready = function() {


	  $('body').off('click','.bill_voting');
	  $('body').on('click','.bill_voting', function(e){
	  	e.preventDefault();

	  	var this_form = $(this);
	  	var comment_section = $(this_form).children('.hidden_comment');

	  	comment_section.val('testing');
	  	
	  	$('#commentModal').modal('show');

	  	$('#commentModal').off('click','#add_comment');
	  	$('#commentModal').on('click','#add_comment',function(e){
	  		var new_comment = $(this).siblings('#content').val();
	  		comment_section.val(new_comment);
	  		
	  		$('#commentModal').modal('hide');

	  		this_form.trigger("submit.rails");
	  	});

	  });



};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>