<div class="container max_924">

	<%= render 'bills/top_banner_with_names' %>

	<div class="padding_bottom_60 padding_top_20">
		<div class="panel panel-bills">
			<div class="panel-body" style="margin: 30px;">

				
				<div class="row main_bill_information" >
					<div class="col-md-12 text-center" style="padding-bottom: 20px;">
						<div class="row" style="padding-bottom:20px;">
							<% if @bill.image_url %>
						    	<div class="col-md-12 main-bill" style="background-image: url('https:<%= @bill.image_url %>');padding-left: 0px; padding-right: 0px;">
						    <% else %>
								<div class="col-md-12 main-bill" style="background-image: url(<%= asset_path 'bill-standard-background.jpg' %>); padding-left: 0px; padding-right: 0px;">
							<% end %>
								<div class="bill-overlay">
									<table style="width:100%;height:100%;">
									  <tr>
										 <td style="text-align: center; vertical-align: middle;">
											<h1><%= link_to @bill.simple_name, bill_path(@bill) %></h1>
											<h3><%= link_to "#{@bill.official_name}" + "#{' - ' + @bill.issues.first.name if @bill.issues.first}", bill_path(@bill) %></h3>
										 </td>
									  </tr>
									</table>
								</div>
							</div>
						</div>


						<% if false %>
						<div class="row" style="margin-bottom: 20px;">
							<div class="col-sm-12 main-bill-arguments" style="padding-left:0;padding-right:0;">
								<table>
									<tr>
										<td>
											<div class="panel panel-bills-slider" style="box-shadow:none;">
												<div class="panel-body">
													<h2 class="header-argument-for text-center">ARGUMENT FOR</h2>
													<div class="text-left">
														<%= @bill.support.html_safe %>
													</div>
												</div>
											</div><!--.panel -->
										</td><td style="width:30px;">
										</td><td>
											<div class="panel panel-bills-slider" style="box-shadow:none;">
												<div class="panel-body">
													<h2 class="header-argument-against text-center">ARGUMENT AGAINST</h2>
													<div class="text-left">
														<%= @bill.opposition.html_safe %>
													</div>
												</div>
											</div><!--.panel -->
										</td>
									</tr>
									<tr>
										<td style="border-top: 1px solid #A1A1A1 !important; padding-top: 20px;">
											<div class="vote-button-yes">
												<%= render :partial => 'bills/vote_yes_form', :locals => { :bill => @bill.id, :favor => @for } %>
											</div>
										</td><td>
										</td><td style="border-top: 1px solid #A1A1A1 !important; padding-top: 20px;">
											<div class="vote-button-no">
												<%= render :partial => 'bills/vote_no_form', :locals => { :bill => @bill.id, :against => @against } %>
											</div>
										</tr>
									</tr>
								</table>
							</div>
						</div>
						<% end %>





						<!-- original, in case designer changes his mind -->
						<div class="row" style="">
							<div class="col-sm-6 main-bill-arguments  arguments-left">
								<div class="panel panel-bills-slider" style="box-shadow:none;margin-bottom:0;">
									<div class="panel-body">
										<h2 class="header-argument-for text-center">ARGUMENT FOR</h2>
										<div class="text-left" style="font-size:12px;">
											<%= @bill.support.html_safe %>
										</div>
									</div>
								</div><!--.panel -->
							</div>
							<div class="col-sm-6 main-bill-arguments arguments-right">
								<div class="panel panel-bills-slider" style="box-shadow:none;margin-bottom:0;">
									<div class="panel-body">
										<h2 class="header-argument-against text-center">ARGUMENT AGAINST</h2>
										<div class="text-left" style="font-size:12px;">
											<%= @bill.opposition.html_safe %>
										</div>
									</div>
								</div><!--.panel -->
							</div>
						</div>
						<div class="row " style="margin-bottom: 20px;">
							<div class="col-sm-6 main-bill-votes arguments-left">
								<div class="vote-button-yes vote-button-yes-main">
									<%= render :partial => 'bills/vote_yes_form', :locals => { :bill => @bill.id, :favor => @for } %>
								</div>
							</div>
							<div class="col-sm-6 main-bill-votes arguments-right">
								<div class="vote-button-no vote-button-no-main">
									<%= render :partial => 'bills/vote_no_form', :locals => { :bill => @bill.id, :against => @against } %>
								</div>

							</div>
						</div>




					</div>
				</div>
				
				<div class="row" style="" id="bill-progress-table" data-bill-progress='<%= @bill.progress %>'>
					<h2 class="text-din text-center" style="padding-bottom:20px;">BILL PROGRESS</h2>
					<div id="bill-progress-bar">
						<table style="margin: 0 auto;">
							<tr>
								<td class="bill-progress-cell">
									<div class="text-din text-center bill-progress-title house_of_commons_div house_of_lords_div royal_assent_div">
										HOUSE&nbsp;OF&nbsp;COMMONS
									</div>
								</td>
								<td style="width:34px;"></td>
								<td class="bill-progress-cell">
									<div class="text-din text-center bill-progress-title house_of_lords_div royal_assent_div">
										HOUSE&nbsp;OF&nbsp;LORDS
									</div>
								</td>
								<td style="width:34px;"></td>
								<td class="bill-progress-cell">
									<div class="text-din text-center bill-progress-title royal_assent_div">
										ROYAL&nbsp;ASSENT
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>


				<div class="row bill-details">
					<div class="col-md-12 text-left text-din">
						<h2 class="text-din">MEANING</h2>
						<%= @bill.meaning.html_safe %>
					</div>
				</div>


				<div class="row bill-details">
					<div class="col-md-12 text-left text-din">
						<h2 class="text-din">WHO DOES IT IMPACT?</h2>
						<%= @bill.impact.html_safe %>
					</div>
				</div>


				<div class="row bill-details" style="padding-bottom:40px;">
					<div class="col-md-12 text-left text-din">
						<h2 class="text-din">POTENTIAL COSTS</h2>
						<%= @bill.cost.html_safe %>
					</div>
				</div>

				<% if @media_links.any? %>
					<div class="row bill-details" style="padding-bottom:40px;">
						<div class="col-md-12 text-left text-din">
							<h2 class="text-din">MEDIA LINKS</h2>
							<% @media_links.each do |media_link| %>
								<a href="<%= media_link.web_url %>" class="" style="" target="_blank"><%= media_link.web_url %></a>
							<% end %>
						</div>
					</div>
				<% end %>


				<div class="row" style="padding-bottom:80px;">
					<div class="col-md-12 text-left  text-din">
						<h2 class="text-din">ISSUES</h2>
						<% @issues.each do |issue| %>
							<a href="<%= issue_name_path(issue.name) %>" class="text-uppercase" style="display: inline; color:#666; border: 1px solid #a8a8a8; padding: 8px; margin-right: 23px;"><%= issue.name %></a>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
</div><!--.container -->

<script type="text/javascript">
var ready;
ready = function() {
var current_progess = $('#bill-progress-table').data('bill-progress');
var finder_name = current_progess + "_div"
$('.' + finder_name).parent().css('background-color','#DAD7D7');
};

$(document).ready(ready);
$(document).on('page:load', ready);

</script>

<%= render 'layouts/voting_modal' %>