<%= render :partial => 'shared/top_banner_with_names', :locals => { :user => current_user } %>

<div class="panel panel-bills padding_bottom_60 padding_top_20 panel-body" style="margin: 30px;">

	
	<div class="text-center" style="">

		<!-- Bills Image Section -->
		<div class="main-bill" style='background-image: linear-gradient(rgba(12, 11, 11, 0.24), rgba(12, 11, 11, 0.24)),
																url("<%= @bill.set_background_img %>");'>
			<div><%= @bill.set_trending_bill_link(current_user) %></div>
		</div>

		<!-- Arguments For And Against Section -->
		<div class="row">
			<div class="col-sm-6">
				<h2 class="header-argument-for">ARGUMENTS FOR</h2>
				<p><%= @bill.support.html_safe %></p>
			</div>
			<div class="col-sm-6">
				<h2 class="header-argument-against">ARGUMENTS AGAINST</h2>
				<p><%= @bill.opposition.html_safe %></p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6 main-bill-votes">
					<%= @bill.set_yes_vote_btn(current_user) %>
			</div>
			<div class="col-sm-6 main-bill-votes">
					<%= @bill.set_no_vote_btn(current_user) %>
			</div>
		</div>

	</div>
	


	<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="margin: 30px 0px;">
    <li role="presentation" class="active"><a href="#bill_info" aria-controls="bill_info" role="tab" data-toggle="tab" style="padding: 10px 40px;">BILL INFO</a></li>
    <li role="presentation"><a href="#community" aria-controls="community" role="tab" data-toggle="tab" style="padding: 10px 40px;">OPINIONS</a></li>
  </ul>
  

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="bill_info">
    	<%= render partial: "bills/bill_info", :locals => { :bill => @bill, :media_links => @bill.media_links, :issues => @bill.issues } %>
    </div>
    <div role="tabpanel" class="tab-pane" id="community">
    	<%= render partial: "bills/bill_comments", :locals => { :user_vote => @vote, :votes => @votes } %>
    </div>
  </div>
	

</div>
