<!--
<div class="form-group">
	<a href="<%= root_url %>users/auth/twitter" class="btn btn-default btn-block" style="margin-bottom:10px;"><i class="fa fa-twitter"></i> SIGN IN WITH FACEBOOK</a>
	<a href="<%= root_url %>users/auth/facebook" class="btn btn-default btn-block"><i class="fa fa-facebook"></i> SIGN IN WITH TWITTER</a>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%# f.submit "Log in" %>
	<%= button_tag(type: 'submit', class: "btn btn-vote-no btn-block") do %>
		<i class="fa fa-lock"></i> Log in
	<% end %>
  </div>
<% end %>
-->


<div class="bottom_line_gray" style="padding-bottom:20px;">
    <p class="headers">SOCIAL SIGN IN</p>
    <a href="<%= root_url %>users/auth/facebook?image_size=large"><!--SIGN IN WITH FACEBOOK--><i class="fa fa-facebook fa-2x" style="color:#3b589e;padding-right: 10px;"></i></a>
    <a href="<%= root_url %>users/auth/twitter?image_size=original"><!--SIGN IN WITH TWITTER--><i class="fa fa-twitter fa-2x" style="color:#20b8ff;"></i></a>
    
  </div>

  <div style="padding-top:20px;">
    <p class="headers">EMAIL SIGN IN</p>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <input style="display:none"><input type="password" style="display:none"><!-- hack to trick autocomplete on chrome -->
  <div class="form-group">
    <%= f.email_field :email, placeholder: "EMAIL", class: "headers form-control", id: "email",  autocomplete: "off", style: "font-size:13px;background: transparent;" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, placeholder: "PASSWORD", class: "headers form-control", id: "password",  autocomplete: "off", style: "font-size:13px;background: transparent;" %>
  </div>
  <div class="form-group">
    <%= f.submit 'SIGN IN', class: "headers btn btn-signup", id: "sign_up_btn", style: "padding: 8px 20px 6px 20px;" %>
  </div>
<% end %>

<a data-dismiss="modal" data-toggle="modal" href="#signUpModal" class="text">DON'T HAVE AN ACCOUNT? JOIN NOW</a>


