<% voter = vote.voteable %>
<div class="row" style="padding: 10px 0px;border-bottom: 1px solid #c0c0c0; margin-bottom: 10px;">
	<div class="col-sm-3">
		<% if voter && voter.picture_url %>
			<div id="user-image" style="text-transform:uppercase;display:inline-block;vertical-align:top;padding-right:12px;display:inline;">
				<img src="<%= voter.picture_url %>" style="height:65px;width:65px;background-color:#10b8b8;border:none;border-radius:50%;" />
			</div>
		<% else %>
			<div id="user-image" style="text-transform:uppercase;display:inline-block;vertical-align:top;padding-right:12px;display:inline;">
				<img src="<%= image_path('blank.png') %>" style="height:65px;width:65px;background-color:#10b8b8;border:none;border-radius:50%;" />
			</div>
		<% end %>
		<div style="text-transform:uppercase;padding-bottom:6px;font-family: 'dinRegular'; display:inline;">
			<%= voter.name if voter %>
		</div>
	</div>
	<div class="col-sm-9" style="font-family: 'dinRegular'; min-height: 65px; overflow: scroll; max-height: 120px; text-align: left;">
		<p style="">
			<%= vote.comment if vote.comment != "" %>
		</p>
	</div>
	<div class="col-sm-12">
		Vote's Current Score: <%= vote.comment_score %> 
		<% if user_signed_in? %>
			<%= form_for vote, url: upvote_vote_path(vote) do |f| %>
				<%= f.submit %>
			<% end %>
		<% end %>
	</div>
</div>