<% voter = vote.voteable %>
<% if vote.comment != "" %>
<div class="row" style="padding: 10px 0px;border-bottom: 1px solid #c0c0c0; margin-bottom: 10px;text-align: left;">
	<div class="col-sm-12" style="">
		<% if voter && voter.picture_url %>
			<div id="user-image" style="text-transform:uppercase;display:inline-block;vertical-align:top;padding-right:12px;display:inline-block;">
				<img src="<%= voter.picture_url %>" style="height:30px;width:30px;background-color:#10b8b8;border:none;border-radius:50%;" />
			</div>
		<% else %>
			<div id="user-image" style="text-transform:uppercase;display:inline-block;vertical-align:top;padding-right:12px;display:inline-block;">
				<img src="<%= image_path('blank.png') %>" style="height:30px;width:30px;background-color:#10b8b8;border:none;border-radius:50%;" />
			</div>
		<% end %>
		<div style="text-transform:uppercase;padding-bottom:6px;font-family: 'dinRegular'; display:inline-block;">
			<%= voter.name if voter %>
		</div>
		<div style="display: inline-block;font-family: 'dinRegular';color: rgb(153, 153, 153);" id="vote_<%= vote.id %>_score">
			- <%= vote.comment_score %> upvotes
		</div>
	</div>
	<div class="col-sm-12" style="font-family: 'dinRegular';overflow: scroll; max-height: 120px; text-align: left;">
		<p style="padding-left:47px;">
			<%= vote.comment if vote.comment != "" %>
		</p>
	</div>
	<div class="col-sm-12" style="padding-left: 58px;" id="vote_<%= vote.id %>_div">

		<% unless current_user.upvoted?(vote) %>
		
			<div style="display: inline-block;">
				<% if user_signed_in? %>
					<%= form_for vote, url: upvote_vote_path(vote), remote: true do |f| %>
						<%= f.submit "UPVOTE", class: "upvote_btn" %>
					<% end %>
				<% end %>
			</div>

		<% end %>
		
	</div>
</div>
<% end %>