<div class="container max_924">
	<%= render 'bills/top_banner_with_names' %>

	<div class="row trending_bills" >
		<% 
			if @votes.any?
			@votes.each do |vote|
			bill = vote.bill
		 %>
		<div class="col-md-12 text-center">
			<div class="row" style="padding-bottom:20px;">
				<div class="col-md-12 text-center">
					<%= link_to bill.simple_name, bill_path(bill) %>
				</div>
			</div>

			<div class="row" style="margin-bottom: 20px; padding-bottom: 20px;">
				<div class="col-md-6 text-left">

					<% if vote.in_favor %>
						<h2>YOU VOTED YES</h2>
						<h4>CHANGE VOTE TO</h4><%= render 'bills/vote_no_form', bill: bill.id %>
					<% else %>
						<h2>YOU VOTED NO</h2>
						<h4>CHANGE VOTE TO</h4><%= render 'bills/vote_yes_form', bill: bill.id %>
					<% end %>

				</div>

				<div class="col-md-6 text-right">
					<% 
						if current_user.constituency && current_user.constituency.mp
						@mp = current_user.constituency.mp
					%>
						<% 
							if @mp.votes.where(bill_id: bill.id).any?
							mp_vote = @mp.votes.where(bill_id: bill.id).first
						 %>
							<% if mp_vote.in_favor %>
								<%= @mp.name.upcase %> VOTED YES
							<% else %>
								<%= @mp.name.upcase %> VOTED YES
							<% end %>
						<% else %>
							<%= @mp.name.upcase %> HAS NOT VOTED ON BILL
						<% end %>
					<% end %>
				</div>
			</div>

		

			<div class="row" style="padding-bottom:20px;">
				<h4 style="text-align:left; padding-bottom:20px;">BILL PROGRESS</h4>
				<div class="col-md-2 text-center">
					HOUSE OF COMMONS
				</div>
				<div class="col-md-2 text-center">
					HOUSE OF LORDS
				</div>
				<div class="col-md-2 text-center">
					ROYAL ASSENT
				</div>
				<div class="col-md-6 text-center">
					<% if vote.comment != "" %>
						<%= vote.comment %>
					<% end %>
				</div>
			</div>

		</div>





		<% end %>
		<% end %>
	</div>

</div><!-- .container max 924 -->
<script type="text/javascript">
var ready;
ready = function() {


	  $('body').off('click','.bill_voting');
	  $('body').on('click','.bill_voting', function(e){
	  	e.preventDefault();

	  	var this_form = $(this);
	  	var comment_section = $(this_form).children('.hidden_comment');

	  	if ( this_form.hasClass('vote_yes') ) {
	  		//$('#commentModal').addClass('modal-whip-vote-yes');
	  		$('#myModalLabelVote').html('<span class="text-vote-yes">VOTED FOR</span>');
	  	} else {
	  		//$('#commentModal').addClass('modal-whip-vote-no');
	  		$('#myModalLabelVote').html('<span class="text-vote-no">VOTED AGAINST</span>');
	  	}

	  	comment_section.val('testing');
	  	
	  	$('#commentModal').modal('show');

	  	$('#commentModal').on('hide.bs.modal', function(e){
	  		var new_comment = $('#add_comment').siblings('#content').val();
	  		comment_section.val(new_comment);
	  		
	  		this_form.trigger("submit.rails");
	  	});

	  	// Need to rework this still
	  	// so far creates modal when vote btn is clicked
	  	// and submits vote on closing of modal
	  	// need to add right facing triangle action btn to 'submit' vote
	  	// this will actually just hide comment box and text at top of modal
	  	// actual submission happens on close of modal
	  	// also need to have social share icons slide up / center in modal after other stuff is hidden

	  	/*
	  	$('#commentModal').off('click','#add_comment');
	  	$('#commentModal').on('click','#add_comment',function(e){
	  		var new_comment = $(this).siblings('#content').val();
	  		comment_section.val(new_comment);
	  		
	  		$('#commentModal').modal('hide');

	  		this_form.trigger("submit.rails");
	  	});
	  	*/

	  });



};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>