<div id="">
	<p class="text-center text-din max_300 margin_0_auto" style="">To use Whip you must agree to our <%= link_to 'terms and conditions', terms_path, style: "color:blue;" %>, <%= link_to 'privacy', privacy_path, style: "color:blue;" %>, and cookies policies.</p>
	<%= form_tag accepted_terms_users_path, remote: true do %>
	<div class="form-group">
		<%= hidden_field_tag "user_accepted", "true" %>
		<%# submit_tag "Add Comment", id: "add_comment" %>
	</div>
	<div class="form-group text-center ">
		<%= button_tag(type: 'submit',  id: "", class: "btn btn-xs btn-outline btn-square btn-c9-border", style: "padding: 6px 16px;") do %>
			<i class="">I AGREE</i>
		<% end %>
	</div>
	<% end %>
</div>