<footer class="footer-full grey">
	<div class="container" style="padding-bottom:20px;">


			<div class="row">
				<div class="col-sm-9" style="padding-left:0;padding-right:0;">
					<div style="margin-bottom: 10px;border-bottom: 1px solid #bebebe;">
						<h2 class="footer-content footer_letter_spacing" style="font-size:12px;">ISSUES</h2>
					</div>
					<div class="row footer-content footer-issues" style="">
						<div class="col-sm-3" style="width:auto;">
							<% 
								if @first_issue_group.any?
								@first_issue_group.each do |issue|
							 %>
								<p><a href="<%=  issue_name_path(issue.name) %>" class="footer-issues-link"><%= issue.name %></a></p>
							<% end %>
							<% end %>
						</div>
						<div class="col-sm-3" style="width:auto;">
							<% 
								if @second_issue_group.any?
								@second_issue_group.each do |issue|
							 %>
								<p><a href="<%=  issue_name_path(issue.name) %>" class="footer-issues-link"><%= issue.name %></a></p>
							<% end %>
							<% end %>
						</div>
						<div class="col-sm-3" style="width:auto;">
							<% 
								if @third_issue_group.any?
								@third_issue_group.each do |issue|
							 %>
								<p><a href="<%=  issue_name_path(issue.name) %>" class="footer-issues-link"><%= issue.name %></a></p>
							<% end %>
							<% end %>
						</div>
						<div class="col-sm-3" style="width:auto;">
							<% 
								if @fourth_issue_group.any?
								@fourth_issue_group.each do |issue|
							 %>
								<p><a href="<%=  issue_name_path(issue.name) %>" class="footer-issues-link"><%= issue.name %></a></p>
							<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-sm-1" style="padding-left:0;padding-right:0;">
					<div style="margin-bottom: 10px;border-bottom: 1px solid #bebebe;">
						<h2 class="footer-content footer_letter_spacing" style="font-size:12px;">INFO</h2>
					</div>
					<div class="text-left footer-content" style="color:#666;font-size:11px;line-height:11px;">
						<p><a href="<%= about_path %>">About</a></p>
						<p><a href="<%= contact_path %>">Contact</a></p>
						<p>Feedback</p>
						<p><a href="<%= jobs_path %>">Jobs</a></p>
					</div>
				</div>
				<div class="col-sm-2 text-right" style="padding-left:0;padding-right:0;">
					<div style="margin-bottom: 10px;border-bottom: 1px solid #bebebe;">
						<h2 class="footer-content" style="font-size:12px;">
							<a href="https://www.facebook.com/whipuk" target="_blank" style="color:#8a8a8a;display:inline;"><i class="fa fa-facebook" style=""></i></a>
							<a href="https://twitter.com/whipuk" target="_blank" style="color:#8a8a8a;display:inline;"><i class="fa fa-twitter" style="margin-left: 2px;"></i></a>
							<a href="https://instagram.com/whipuk/" target="_blank" style="color:#8a8a8a;display:inline;"><i class="fa fa-instagram" style="margin-left: 2px;"></i></a>
						</h2>
					</div>
					<div style="color:#666;font-size:11px;line-height:11px;">
						<div class="col-sm-7 col-sm-offset-5 text-left" >
							<p><a href="<%= privacy_path %>">Privacy Policy</a></p>
							<p>Team</p>
							<p><a href="<%= terms_path %>">Terms of service</a></p>
							<p>WHIP guidlines</p>
						</div>
					</div>
				</div>
			</div><!-- .row -->

	</div><!-- container -->
</footer>