<nav class="navbar navbar-default navbar-fixed-top" id="top-navbar" role="navigation" style="z-index:10000;">
  <div class="container" style="max-width:942px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggler" data-target="#whip-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><img src="<%= image_path('whip_logo.png') %>" style="height:16px;"></a>
      <% if user_signed_in? %>
      	<div class="navbar-brand">
			<%= link_to("LOGOUT", destroy_user_session_path, :method => :delete, class: "btn btn-default btn-xs btn-outline btn-square btn-c9-border")  %>
        </div>
      <% else %>
        <div class="navbar-brand">
			<a href="" data-toggle="modal" data-target="#loginModal" class="btn btn-xs btn-outline btn-square btn-c9-border">SIGN IN</a>
		</div>
      <% end %>
       </div><!-- /.navbar-header -->
     <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
           
     <div class="collapse navbar-collapse" id="whip-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
              <!-- This works well for static text, like a username -->
          <% if user_signed_in? && current_user.admin %>
            <li class="nav-parent-item"><%= link_to "ADMIN", users_admins_path %></li>
          <% end %>
          <li class="nav-parent-item"><%= link_to "TRENDING BILLS", bills_path %></li>
          <li class="dropdown nav-parent-item">
            <a href="#" class="dropdown-toggle" role="button" aria-expanded="false">ISSUES</a>
            <ul class="dropdown-menu" role="menu">
                <li>
                  <div class="row" style="width: 448px; padding:5px 15px;">
                    <ul class="list-unstyled col-md-3" style="width: 118px; padding-right: 0px;">
                        <% 
                          if @first_issue_group.any?
                          @first_issue_group.each do |issue|
                         %>
                          <li><a href="<%=  issue_name_path(issue.name) %>"><%= issue.name %></a></li>
                        <% end %>
                        <% end %>
                    </ul>
                    <ul class="list-unstyled col-md-3" style="width: 104px;">
                        <% 
                          if @second_issue_group.any?
                          @second_issue_group.each do |issue|
                         %>
                          <li><a href="<%=  issue_name_path(issue.name) %>"><%= issue.name %></a></li>
                        <% end %>
                        <% end %>
                    </ul>
                    <ul class="list-unstyled col-md-3" style="width: 108px; padding-right: 0px;">
                        <% 
                          if @third_issue_group.any?
                          @third_issue_group.each do |issue|
                         %>
                          <li><a href="<%=  issue_name_path(issue.name) %>"><%= issue.name %></a></li>
                        <% end %>
                        <% end %>
                    </ul>
                    <ul class="list-unstyled col-md-2" style="width:50px;">
                        <% 
                          if @fourth_issue_group.any?
                          @fourth_issue_group.each do |issue|
                         %>
                          <li><a href="<%=  issue_name_path(issue.name) %>"><%= issue.name %></a></li>
                        <% end %>
                        <% end %>
                    </ul>
                  </div>
                </li>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li class="nav-parent-item"><%= link_to "MY VOTES", user_path(current_user.id) %></li>
          <% end %>
          <li class="dropdown nav-parent-item">
            <a href="#" class="dropdown-toggle" role="button" aria-expanded="false">INFO</a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="row" style="width: 262px; padding: 5px 15px;">
                    <ul class="list-unstyled col-md-6" style="width:100px;">
                        <li><a href="<%= about_path %>">About</a></li>
                        <li><a href="<%= contact_path %>">Contact</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="<%= jobs_path %>">Jobs</a></li>
                    </ul>
                    <ul class="list-unstyled col-md-6" style="width:132px;">
                        <li><a href="<%= privacy_path %>">Privacy Policy</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="<%= terms_path %>">Terms of service</a></li>
                        <li><a href="#">WHIP guidlines</a></li>
                    </ul>
                  </div>
                </li>
            </ul>
          </li>
          <!--
          <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "javascript:;" %></li>
          <li><%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "javascript:;" %></li>
          <li><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "javascript:;" %></li>
          
          -->
          <li style="padding-top:15px;">
			<a href="https://www.facebook.com/whipuk" target="_blank" style="display:inline;padding: 10px 0;"><i class="fa fa-facebook" style=""></i></a>
			<a href="https://twitter.com/whipuk" target="_blank" style="display:inline;padding: 10px 0;"><i class="fa fa-twitter" style="margin-left: 2px;"></i></a>
			<a href="https://instagram.com/whipuk/" target="_blank" style="display:inline;padding: 10px 0;"><i class="fa fa-instagram" style="margin-left: 2px;"></i></a>
		  </li>
          
        </ul>
    </div><!-- /.navbar-collapse -->

    
   

 
        


    <!-- Collect the nav links, forms, and other content for toggling -->
   
  </div><!-- /.container-fluid -->
</nav>