<div class="col-md-12" style="background:#fef1f1;text-align:center;">
	<div class="row" style="padding-top:20px;padding-bottom:10px;">
		<div class="" style="width: auto;display:inline-block;padding: 10px;">
			<a href="https://www.facebook.com/whipuk" target="_blank"><img src="<%= image_path('fb_icon.png') %>"></a>
		</div>
		<div class="" style="width: auto;display:inline-block;padding: 10px;">
			<a href="https://twitter.com/whipuk" target="_blank"><img src="<%= image_path('tw_icon.png') %>"></a>
		</div>
		<div class="" style="width: auto;display:inline-block;padding: 10px;">
			<a href="https://instagram.com/whipuk/" target="_blank"><img src="<%= image_path('insta_icon.png') %>"></a>
		</div>
		<div class="" style="width: auto;display:inline-block;padding: 10px;">
			<a href="https://www.youtube.com/channel/UCdt6hdrjwrRB9hLzvUdl5Lw" target="_blank"><img src="<%= image_path('youtube_icon.png') %>"></a>
		</div>
		<div class="" style="width: auto;display:inline-block;padding: 10px;">
			<a href="http://whipuk.tumblr.com/" target="_blank"><img src="<%= image_path('tumblr_icon.png') %>"></a>
		</div>
	</div>
	<div>
		<a href="<%= privacy_path %>" class="headers prelaunch_footer_text" target="_blank">Privacy Policy</a>
	</div>
	<div style="padding-bottom: 20px;">
		<a href="<%= privacy_path %>" class="headers prelaunch_footer_text" target="_blank">Terms of service</a>
	</div>
</div>