<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link rel="image_src" href="<%= image_path('circle_logo.png') %>" / ><!--formatted-->
  <meta name="description" content="Learn about the government bills that matter to you and see how we are revolutionising the way we interact and influence parliament." /><!--formatted-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  	<script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '962288367166716',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62200732-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body class="grey">

	<div id="header">

	<%= render 'layouts/header' %>

	</div> <%# end header div %>

	<div id="body-full">

	<%= yield %>

	</div> <%# end body div %>


	<%= render 'layouts/footer' %>

	<div class="modal fade modal-whip-white" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-45px;padding-right:15px;opacity:1;"><span aria-hidden="true"><img src="<%= image_path('btn-modal-close.png') %>" /></span></button>
	        <h4 class="modal-title" id="myModalLabel">SIGN IN</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages">
	        </div>
	        <%= render 'devise/sessions/new_for_modal' %>
	        <br>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">JOIN NOW</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
	        <%= render 'devise/registrations/new_for_modal' %>
	        <br>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade modal-whip-comment" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-45px;padding-right:15px;opacity:1;"><span aria-hidden="true"><img src="<%= image_path('btn-modal-close.png') %>" /></span></button>
	        <div style="vertical-align:top; padding-bottom: 24px;">
				<img src="<%= image_path('icon-vote.png') %>" style="width:60px;height:60px;" class="image" title="votes" />
			</div>
	        <h4 class="modal-title text-din" id="myModalLabel">THANKS FOR VOTING</h4>
	        <h4 class="modal-title text-din" id="myModalLabelVote"></h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
	        <%= render 'votes/add_comment_for_modal' %>
	        <%= render 'votes/post_vote_on_social_for_modal' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade modal-whip-comment" id="noFBModal" tabindex="-1" role="dialog" aria-labelledby="noFBModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-45px;padding-right:15px;opacity:1;"><span aria-hidden="true"><img src="<%= image_path('btn-modal-close.png') %>" /></span></button>
	        <h4 class="modal-title text-din" id="myModalLabel">YOUR MP DOESN'T HAVE FACEBOOK.</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
        	<%= render 'layouts/missing_fb_form' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade modal-whip-comment" id="noTWModal" tabindex="-1" role="dialog" aria-labelledby="noTWModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-45px;padding-right:15px;opacity:1;"><span aria-hidden="true"><img src="<%= image_path('btn-modal-close.png') %>" /></span></button>
	        <h4 class="modal-title text-din" id="myModalLabel">YOUR MP DOESN'T HAVE TWITTER.</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
        	<%= render 'layouts/missing_tw_form' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade modal-whip-comment" id="mpEmailModal" tabindex="-1" role="dialog" aria-labelledby="mpEmailModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-45px;padding-right:15px;opacity:1;"><span aria-hidden="true"><img src="<%= image_path('btn-modal-close.png') %>" /></span></button>
	        <h4 class="modal-title text-din" id="myModalLabel">EMAIL YOUR MP.</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
        	<%= render 'layouts/email_mp_form' %>
	      </div>
	    </div>
	  </div>
	</div>
  
	<div class="modal fade modal-alert modal-danger" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModal" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title text-din" id=""><i class="fa fa-exclamation-triangle fa-3x"></i></h4>
	      </div>
	      <div class="modal-body">
	      </div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
		</div>
	    </div>
	  </div>
	</div>
  
</body>

</html>

<script type="text/javascript">
	function centerModal() {
		$(this).css('display', 'block');
		var $dialog = $(this).find(".modal-dialog");
		var offset = ($(window).height() - $dialog.height()) / 2;
		//Make sure you don't hide the top part of the modal w/ a negative margin if it's longer than the screen height, and keep the margin equal to the bottom margin of the modal
		var bottomMargin = $dialog.css('marginBottom');
		bottomMargin = parseInt(bottomMargin);
		if(offset < bottomMargin) offset = bottomMargin;
		$dialog.css("margin-top", offset);
	}

	$('.modal').on('show.bs.modal', centerModal);
	$(window).on("resize", function () {
		$('.modal:visible').each(centerModal);
	});
	
	var pathname = $(location).prop('pathname').split('/')[1]; 
    var best_distance = 999; 
    var best_match = false;
    
    $('#top-navbar ul.nav a').each(function() {
        if ($(this).attr('href').indexOf(pathname) >= 0) {
        	overlap_penalty = pathname.replace($(this).attr('href'), '').length;
            if (overlap_penalty < best_distance) { 
                best_distance = overlap_penalty; 
                best_match = this; 
            }
        }
        
    });

    if (best_match !== false) {
    	$(best_match).closest('.nav-parent-item').addClass('active');
    }

	$('[data-toggle="tooltip"]').tooltip();
	
	$('#admin-sidebar ul.nav a').filter(function() {
		return this.href == window.location;
	}).parent().addClass('active');

</script>
