<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  	<script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '962288367166716',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
	</script>
</head>
<body class="grey">

	<div id="holder" class="grey">

		<div class="container-fluid">

			<div class="row">


				<div id="header">
				    
					<%= render 'layouts/header' %>

				</div> <%# end header div %>
				
				<div id="body-full" class="row" style="padding-top: 70px;padding-left: 60px;padding-right: 60px;">

					<%= yield %>

				</div> <%# end body div %>


					<%= render 'layouts/footer' %>


			</div> <%# end row div %>

		</div> <%# end container-fluid div %>


	</div> <%# end holder div %>

	<div class="modal fade modal-whip-blue" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">SIGN IN</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages">
	        </div>
	        <%= render 'devise/sessions/new_for_modal' %>
	        <br>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">JOIN NOW</h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
	        <%= render 'devise/registrations/new_for_modal' %>
	        <br>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade modal-whip-comment" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-45px;padding-right:15px;opacity:1;"><span aria-hidden="true"><img src="<%= image_path('btn-modal-close.png') %>" /></span></button>
	        <h4 class="modal-title text-din" id="myModalLabel">THANKS FOR VOTING</h4>
	        <h4 class="modal-title text-din" id="myModalLabelVote"></h4>
	      </div>
	      <div class="modal-body">
	        <div id="flash_messages_3">
	        </div>
	        <%= render 'votes/add_comment_for_modal' %>
	        <%= render 'votes/post_vote_on_social_for_modal' %>
	      </div>
	    </div>
	  </div>
	</div>
  
</body>

</html>

<script type="text/javascript">
function centerModal() {
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    //Make sure you don't hide the top part of the modal w/ a negative margin if it's longer than the screen height, and keep the margin equal to the bottom margin of the modal
    var bottomMargin = $dialog.css('marginBottom');
    bottomMargin = parseInt(bottomMargin);
    if(offset < bottomMargin) offset = bottomMargin;
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);
$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});
	
	console.log( $(location).prop('pathname').split('/')[1] );
	// add active class to main menu
	var pathname = $(location).prop('pathname').split('/')[1]; // window.location.pathname;
    var best_distance = 999; // var to hold best distance so far
    var best_match = false;  // var to hold best match object
    
    $('#top-navbar ul.nav a').each(function() {
        // if (pathname.indexOf($(this).attr('href')) == 0) {
        if ($(this).attr('href').indexOf(pathname) >= 0) {
        	console.log('match on ' + $(this).attr('href'));
            // we know that the link is part of our path name.
            // the next line calculates how many characters the path name is longer than our link
            overlap_penalty = pathname.replace($(this).attr('href'), '').length;
            if (overlap_penalty < best_distance) { // if we found a link that has less difference in length that all previous ones ...
                best_distance = overlap_penalty; // remember the length difference
                best_match = this; // remember the link
            }
        }
        
    });

    if (best_match !== false) {
    	console.log('applying');
    	$(best_match).closest('.nav-parent-item').addClass('active');
    }

	// turn on tooltips
	$('[data-toggle="tooltip"]').tooltip();
	
	// add active class to admin sidebar
	$('#admin-sidebar ul.nav a').filter(function() {
		return this.href == window.location;
	}).parent().addClass('active');

</script>
